In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame()

In [5]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
lakers_dict = {
    'first_name': ['Lebron', 'Anthony', 'Dennis', 'Kyle', 'Kentavious'],
    'last_name' : ['James', 'Davis', 'Schroder', 'Kuzma', 'Caldwell-Pope'],
    'mpg' : [33.4, 32.3, 32.1, 28.7, 28.4],
    'ppg' : [25.0, 21.8, 15.4, 12.9, 9.7],
    'rpg' : [ 7.7, 7.9, 3.5, 6.1, 2.7],
    'apg' : [7.8, 3.1, 5.8, 1.9, 1.9]
}

In [10]:
df = pd.DataFrame(lakers_dict)

In [11]:
print(df)

   first_name      last_name   mpg   ppg  rpg  apg
0      Lebron          James  33.4  25.0  7.7  7.8
1     Anthony          Davis  32.3  21.8  7.9  3.1
2      Dennis       Schroder  32.1  15.4  3.5  5.8
3        Kyle          Kuzma  28.7  12.9  6.1  1.9
4  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

In [14]:
df = pd.DataFrame(lakers_dict, index=[1,2,3,4,5])

In [15]:
print(df)

   first_name      last_name   mpg   ppg  rpg  apg
1      Lebron          James  33.4  25.0  7.7  7.8
2     Anthony          Davis  32.3  21.8  7.9  3.1
3      Dennis       Schroder  32.1  15.4  3.5  5.8
4        Kyle          Kuzma  28.7  12.9  6.1  1.9
5  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

In [16]:
df_pos = pd.DataFrame(lakers_dict, index=['sf/pf', 'pf/c','pg', 'sf/pf', 'sg'])

In [17]:
print(df_pos)

       first_name      last_name   mpg   ppg  rpg  apg
sf/pf      Lebron          James  33.4  25.0  7.7  7.8
pf/c      Anthony          Davis  32.3  21.8  7.9  3.1
pg         Dennis       Schroder  32.1  15.4  3.5  5.8
sf/pf        Kyle          Kuzma  28.7  12.9  6.1  1.9
sg     Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

In [18]:
#List of stats
stats = [['Lebron', 4, 6], ['Kuzma', 2, 3], ['Davis', 2, 9]]

In [19]:
#Creating a datafrome for stats list
stats_df = pd.DataFrame(stats, columns = ['player', 'oreb', 'dreb'])

In [20]:
print(stats_df)

   player  oreb  dreb
0  Lebron     4     6
1   Kuzma     2     3
2   Davis     2     9

In [21]:
rebs = [6, 9, 11, 7, 3]

In [23]:
series = pd.DataFrame(rebs, columns=['lebron_reb'])

In [24]:
print(series)

   lebron_reb
0           6
1           9
2          11
3           7
4           3

In [25]:
#READING CSV FILES IN DATAFRAMES

In [4]:
import pandas as pd

In [33]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_info.csv')

In [29]:
print(df)

       player_id     player_name season_id
0            920      A.C. Green   1996-97
1            243     Aaron McKie   1996-97
2           1425  Aaron Williams   1996-97
3            768       Acie Earl   1996-97
4            228      Adam Keefe   1996-97
...          ...             ...       ...
29223    1628380    Zach Collins   2017-18
29224     203897     Zach LaVine   2017-18
29225       2216   Zach Randolph   2017-18
29226       2585   Zaza Pachulia   2017-18
29227    1627753         Zhou Qi   2017-18

[29228 rows x 3 columns]

In [30]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_info_no_header.csv', header=None)

In [31]:
df.head(5)

      0               1        2
0   920      A.C. Green  1996-97
1   243     Aaron McKie  1996-97
2  1425  Aaron Williams  1996-97
3   768       Acie Earl  1996-97
4   228      Adam Keefe  1996-97

In [35]:
# Setting Player_ID as the index
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_info.csv', index_col='player_id')

In [36]:
df.head(5)

              player_name season_id
player_id
920            A.C. Green   1996-97
243           Aaron McKie   1996-97
1425       Aaron Williams   1996-97
768             Acie Earl   1996-97
228            Adam Keefe   1996-97

In [39]:
# Only Select certain columns to use and exclude all others
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_general_traditional_per_game_data.csv', usecols=['player_id', 'season_id'])

In [40]:
df.head(5)

   player_id season_id
0        471   1996-97
1        920   1996-97
2        243   1996-97
3       1425   1996-97
4        768   1996-97

# Attributes and Methods
# Method has (), attribute doesn't. method are more similar to function, attribute describes not modify

In [42]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_general_traditional_per_game_data.csv')

In [43]:
#Attributes
df.shape

(10633, 21)

In [44]:
df.dtypes

player_id      int64
season_id     object
gp           float64
age          float64
min          float64
fgm          float64
fga          float64
fg_pct       float64
fg3m         float64
fg3a         float64
fg3_pct      float64
ftm          float64
fta          float64
ft_pct       float64
oreb         float64
dreb         float64
ast          float64
tov          float64
stl          float64
blk          float64
pts          float64
dtype: object

In [45]:
#Methods

In [47]:
df_5_rows = df.head()

In [48]:
print(df_5_rows)

   player_id season_id    gp   age   min  fgm  fga  fg_pct  fg3m  fg3a  ...  \
0        471   1996-97  41.0   NaN  13.3  1.1  3.3   0.331   0.2   0.7  ...
1        920   1996-97  83.0  33.0  30.8  2.8  5.8   0.483   0.0   0.2  ...
2        243   1996-97  83.0  24.0  20.4  1.8  4.4   0.411   0.5   1.2  ...
3       1425   1996-97  33.0  25.0  17.8  2.6  4.5   0.574   0.0   0.0  ...
4        768   1996-97  47.0  27.0  11.1  1.4  3.8   0.374   0.0   0.1  ...

   ftm  fta  ft_pct  oreb  dreb  ast  tov  stl  blk  pts
0  1.0  1.2   0.875   0.7   1.8  1.4  0.8  0.2  0.3  3.4
1  1.5  2.4   0.650   2.7   5.2  0.8  0.9  0.8  0.2  7.2
2  1.1  1.3   0.836   0.5   2.2  1.9  1.1  0.9  0.3  5.2
3  1.0  1.5   0.673   1.9   2.5  0.5  1.0  0.5  0.9  6.2
4  1.1  1.8   0.643   0.7   1.3  0.4  0.7  0.3  0.6  4.0

[5 rows x 21 columns]

In [49]:
df.tail()

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [50]:
df.head(10)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0
5,228,1996-97,62.0,27.0,15.4,1.3,2.6,0.513,0.0,0.0,...,1.1,1.7,0.689,1.2,2.3,0.5,0.7,0.5,0.2,3.8
6,154,1996-97,45.0,30.0,13.1,0.9,2.0,0.435,0.0,0.0,...,0.5,1.1,0.420,1.3,2.4,0.3,0.6,0.4,0.2,2.2
7,673,1996-97,30.0,24.0,17.2,2.6,5.4,0.475,0.0,0.0,...,1.5,2.5,0.600,1.6,2.3,0.8,1.0,0.7,0.2,6.6
8,1059,1996-97,8.0,29.0,7.9,1.0,2.0,0.500,0.6,0.9,...,0.5,0.6,0.800,0.1,0.5,0.6,0.6,0.0,0.0,3.1
9,275,1996-97,81.0,26.0,34.3,5.4,12.7,0.423,1.8,4.7,...,2.2,2.7,0.803,0.5,2.4,2.2,2.1,0.5,0.2,14.8

In [51]:
df.tail(7)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10626,1629139,2018-19,15.0,24.0,11.6,1.0,3.4,0.294,0.1,1.1,...,0.5,0.7,0.700,0.3,1.8,0.5,0.4,0.3,0.1,2.6
10627,1628380,2018-19,77.0,21.0,17.6,2.5,5.2,0.473,0.5,1.6,...,1.2,1.6,0.746,1.4,2.8,0.9,1.0,0.3,0.9,6.6
10628,203897,2018-19,63.0,24.0,34.5,8.4,18.0,0.467,1.9,5.1,...,5.0,6.0,0.832,0.6,4.0,4.5,3.4,1.0,0.4,23.7
10629,1629155,2018-19,1.0,26.0,3.8,0.0,1.0,0.000,0.0,1.0,...,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,0.0,0.0
10630,2585,2018-19,68.0,35.0,12.9,1.3,2.8,0.440,0.0,0.1,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
10631,1629015,2018-19,6.0,19.0,18.4,2.3,5.7,0.412,1.0,2.7,...,1.0,1.3,0.750,0.5,1.7,1.7,1.0,0.3,0.3,6.7
10632,1627753,2018-19,1.0,23.0,1.0,1.0,1.0,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [52]:
#random sample
df.sample(12)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
8926,203077,2015-16,7.0,22.0,29.2,4.7,8.7,0.541,0.4,1.0,...,2.9,4.1,0.690,1.7,4.7,1.3,1.1,0.4,0.4,12.7
33,1112,1996-97,34.0,22.0,6.0,0.5,1.4,0.348,0.0,0.0,...,0.2,0.6,0.300,0.7,1.0,0.1,0.5,0.2,0.3,1.1
9387,1627875,2016-17,5.0,23.0,9.5,0.4,1.4,0.286,0.2,0.4,...,1.8,2.0,0.900,0.2,1.6,0.6,0.4,0.2,0.0,2.8
6245,200745,2010-11,66.0,25.0,35.7,8.0,17.8,0.448,1.2,3.4,...,4.3,5.3,0.820,1.1,4.1,1.8,2.3,0.5,0.7,21.4
6881,2037,2011-12,60.0,32.0,26.9,4.7,12.3,0.384,1.3,4.3,...,3.2,3.4,0.927,0.3,1.7,3.2,1.9,0.9,0.2,14.0
9599,202340,2017-18,46.0,27.0,31.2,5.6,13.6,0.414,1.6,4.4,...,1.4,1.8,0.768,0.5,2.0,2.0,2.2,1.1,0.2,14.3
1088,987,1998-99,6.0,25.0,6.5,0.8,1.8,0.455,0.0,0.0,...,0.2,0.3,0.500,0.3,0.8,0.3,0.3,0.3,0.0,1.8
294,770,1996-97,70.0,36.0,14.2,1.4,2.6,0.556,0.0,0.0,...,0.4,0.8,0.482,1.0,1.7,0.3,0.7,0.2,0.8,3.2
8469,201593,2014-15,31.0,29.0,26.3,4.5,10.6,0.424,0.0,0.0,...,3.5,4.2,0.837,2.9,4.7,0.9,1.4,0.6,0.4,12.5
4188,1983,2005-06,30.0,30.0,6.7,0.4,0.9,0.423,0.0,0.1,...,0.4,0.5,0.857,0.3,0.6,0.8,0.4,0.1,0.0,1.2
4800,200823,2006-07,12.0,23.0,11.3,1.6,5.0,0.317,0.4,1.9,...,0.7,1.0,0.667,0.3,1.0,0.7,0.5,0.3,0.2,4.3
2047,688,2000-01,68.0,32.0,21.9,2.1,4.7,0.455,0.1,0.1,...,0.9,1.1,0.849,0.3,1.5,1.9,0.9,0.4,0.0,5.2

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10633 entries, 0 to 10632
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  10633 non-null  int64
 1   season_id  10633 non-null  object
 2   gp         10633 non-null  float64
 3   age        10631 non-null  float64
 4   min        10633 non-null  float64
 5   fgm        10633 non-null  float64
 6   fga        10633 non-null  float64
 7   fg_pct     10633 non-null  float64
 8   fg3m       10633 non-null  float64
 9   fg3a       10633 non-null  float64
 10  fg3_pct    10633 non-null  float64
 11  ftm        10633 non-null  float64
 12  fta        10633 non-null  float64
 13  ft_pct     10633 non-null  float64
 14  oreb       10633 non-null  float64
 15  dreb       10633 non-null  float64
 16  ast        10633 non-null  float64
 17  tov        10633 non-null  float64
 18  stl        10633 non-null  float64
 19  blk        10633 non-null  float64
 20  pts        10633 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 1.7+ MB

In [54]:
df.describe()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
count,1.063300e+04,10633.000000,10631.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000,10633.000000
mean,1.684222e+05,52.633782,27.235255,20.398853,3.031468,6.798354,0.433469,0.545359,1.562682,0.235817,1.495429,2.003480,0.698231,0.970159,2.589119,1.796398,1.186043,0.646929,0.412602,8.101129
std,3.882780e+05,25.115265,4.344703,10.099563,2.159450,4.594357,0.097001,0.661287,1.743706,0.179157,1.397361,1.769024,0.195102,0.831041,1.789594,1.789208,0.791090,0.449050,0.481362,5.903179
min,2.000000e+00,1.000000,18.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.495000e+03,33.000000,24.000000,12.100000,1.300000,3.200000,0.398000,0.000000,0.100000,0.000000,0.500000,0.800000,0.643000,0.400000,1.300000,0.600000,0.600000,0.300000,0.100000,3.500000
50%,2.501000e+03,59.000000,27.000000,19.800000,2.500000,5.700000,0.437000,0.300000,1.000000,0.298000,1.100000,1.500000,0.745000,0.700000,2.200000,1.200000,1.000000,0.600000,0.300000,6.600000
75%,2.018800e+05,75.000000,30.000000,28.700000,4.300000,9.500000,0.479000,0.900000,2.600000,0.364000,2.000000,2.700000,0.814000,1.400000,3.400000,2.400000,1.600000,0.900000,0.500000,11.500000
max,1.629541e+06,85.000000,44.000000,44.400000,12.200000,27.800000,1.000000,5.100000,13.200000,1.000000,9.700000,13.100000,1.000000,6.800000,11.500000,11.700000,5.700000,2.900000,3.900000,36.100000

In [55]:
df.sum()

player_id                                           1790833752
season_id    1996-971996-971996-971996-971996-971996-971996...
gp                                                    559655.0
age                                                   289538.0
min                                                   216901.0
fgm                                                    32233.6
fga                                                    72286.9
fg_pct                                                4609.073
fg3m                                                    5798.8
fg3a                                                   16616.0
fg3_pct                                               2507.447
ftm                                                    15900.9
fta                                                    21303.0
ft_pct                                                7424.287
oreb                                                   10315.7
dreb                                                   27530.1
ast                                                    19101.1
tov                                                    12611.2
stl                                                     6878.8
blk                                                     4387.2
pts                                                    86139.3
dtype: object

In [56]:
df.mean()

player_id    168422.246967
gp               52.633782
age              27.235255
min              20.398853
fgm               3.031468
fga               6.798354
fg_pct            0.433469
fg3m              0.545359
fg3a              1.562682
fg3_pct           0.235817
ftm               1.495429
fta               2.003480
ft_pct            0.698231
oreb              0.970159
dreb              2.589119
ast               1.796398
tov               1.186043
stl               0.646929
blk               0.412602
pts               8.101129
dtype: float64

In [57]:
df.corr()

,player_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
player_id,1.000000,-0.117966,-0.327878,-0.138399,-0.088626,-0.091591,-0.013139,0.031839,0.047200,0.053466,-0.117921,-0.121414,-0.070711,-0.104069,-0.076786,-0.073226,-0.128919,-0.094299,-0.058878,-0.089121
gp,-0.117966,1.000000,0.031932,0.661571,0.558798,0.537544,0.323238,0.338970,0.326380,0.252203,0.436210,0.432054,0.401575,0.350474,0.499179,0.391819,0.473280,0.482834,0.293747,0.550499
age,-0.327878,0.031932,1.000000,0.068160,-0.010243,-0.005897,-0.011013,0.060671,0.048133,0.017836,-0.026634,-0.045631,0.080744,-0.034389,0.048336,0.079816,-0.013969,0.023266,-0.036354,-0.006939
min,-0.138399,0.661571,0.068160,1.000000,0.898696,0.902499,0.265402,0.512537,0.521027,0.286004,0.763601,0.759884,0.391170,0.468688,0.741098,0.672098,0.821540,0.766862,0.381113,0.896016
fgm,-0.088626,0.558798,-0.010243,0.898696,1.000000,0.981887,0.306843,0.494028,0.500119,0.269023,0.856325,0.848208,0.355666,0.440062,0.712868,0.627075,0.835310,0.681252,0.370746,0.989830
fga,-0.091591,0.537544,-0.005897,0.902499,0.981887,1.000000,0.188154,0.569256,0.588161,0.317116,0.846021,0.825272,0.378002,0.353804,0.653903,0.665869,0.844743,0.707331,0.291224,0.982662
fg_pct,-0.013139,0.323238,-0.011013,0.265402,0.306843,0.188154,1.000000,-0.050848,-0.097441,-0.027911,0.222654,0.258393,0.158601,0.401689,0.362039,0.052194,0.188453,0.131418,0.346540,0.271633
fg3m,0.031839,0.338970,0.060671,0.512537,0.494028,0.569256,-0.050848,1.000000,0.984159,0.589520,0.341470,0.268837,0.352018,-0.234495,0.132096,0.480875,0.386329,0.456960,-0.156865,0.554222
fg3a,0.047200,0.326380,0.048133,0.521027,0.500119,0.588161,-0.097441,0.984159,1.000000,0.567381,0.356412,0.284632,0.352993,-0.244986,0.131054,0.507521,0.410626,0.482190,-0.167452,0.560556
fg3_pct,0.053466,0.252203,0.017836,0.286004,0.269023,0.317116,-0.027911,0.589520,0.567381,1.000000,0.160462,0.099531,0.329966,-0.274225,-0.007294,0.334241,0.210239,0.295806,-0.212880,0.300943
ftm,-0.117921,0.436210,-0.026634,0.763601,0.856325,0.846021,0.222654,0.341470,0.356412,0.160462,1.000000,0.980969,0.356486,0.406706,0.626931,0.569923,0.804884,0.599211,0.335838,0.901634
fta,-0.121414,0.432054,-0.045631,0.759884,0.848208,0.825272,0.258393,0.268837,0.284632,0.099531,0.980969,1.000000,0.277477,0.491190,0.676289,0.532583,0.804858,0.587889,0.411419,0.883174
ft_pct,-0.070711,0.401575,0.080744,0.391170,0.355666,0.378002,0.158601,0.352018,0.352993,0.329966,0.356486,0.277477,1.000000,0.001588,0.181000,0.315181,0.304059,0.299414,-0.009240,0.384167
oreb,-0.104069,0.350474,-0.034389,0.468688,0.440062,0.353804,0.401689,-0.234495,-0.244986,-0.274225,0.406706,0.491190,0.001588,1.000000,0.779032,-0.011059,0.349736,0.222488,0.683148,0.392206
dreb,-0.076786,0.499179,0.048336,0.741098,0.712868,0.653903,0.362039,0.132096,0.131054,-0.007294,0.626931,0.676289,0.181000,0.779032,1.000000,0.306302,0.609042,0.472102,0.663878,0.685015
ast,-0.073226,0.391819,0.079816,0.672098,0.627075,0.665869,0.052194,0.480875,0.507521,0.334241,0.569923,0.532583,0.315181,-0.011059,0.306302,1.000000,0.778715,0.709135,-0.020056,0.647640
tov,-0.128919,0.473280,-0.013969,0.821540,0.835310,0.844743,0.188453,0.386329,0.410626,0.210239,0.804884,0.804858,0.304059,0.349736,0.609042,0.778715,1.000000,0.710621,0.291595,0.845105
stl,-0.094299,0.482834,0.023266,0.766862,0.681252,0.707331,0.131418,0.456960,0.482190,0.295806,0.599211,0.587889,0.299414,0.222488,0.472102,0.709135,0.710621,1.000000,0.164976,0.691502
blk,-0.058878,0.293747,-0.036354,0.381113,0.370746,0.291224,0.346540,-0.156865,-0.167452,-0.212880,0.335838,0.411419,-0.009240,0.683148,0.663878,-0.020056,0.291595,0.164976,1.000000,0.333186
pts,-0.089121,0.550499,-0.006939,0.896016,0.989830,0.982662,0.271633,0.554222,0.560556,0.300943,0.901634,0.883174,0.384167,0.392206,0.685015,0.647640,0.845105,0.691502,0.333186,1.000000

In [58]:
df.count()

player_id    10633
season_id    10633
gp           10633
age          10631
min          10633
fgm          10633
fga          10633
fg_pct       10633
fg3m         10633
fg3a         10633
fg3_pct      10633
ftm          10633
fta          10633
ft_pct       10633
oreb         10633
dreb         10633
ast          10633
tov          10633
stl          10633
blk          10633
pts          10633
dtype: int64

In [59]:
df.max()

player_id    1629541
season_id    2018-19
gp              85.0
age             44.0
min             44.4
fgm             12.2
fga             27.8
fg_pct           1.0
fg3m             5.1
fg3a            13.2
fg3_pct          1.0
ftm              9.7
fta             13.1
ft_pct           1.0
oreb             6.8
dreb            11.5
ast             11.7
tov              5.7
stl              2.9
blk              3.9
pts             36.1
dtype: object

In [60]:
df.min()

player_id          2
season_id    1996-97
gp               1.0
age             18.0
min              0.1
fgm              0.0
fga              0.0
fg_pct           0.0
fg3m             0.0
fg3a             0.0
fg3_pct          0.0
ftm              0.0
fta              0.0
ft_pct           0.0
oreb             0.0
dreb             0.0
ast              0.0
tov              0.0
stl              0.0
blk              0.0
pts              0.0
dtype: object

In [61]:
df.median()

player_id    2501.000
gp             59.000
age            27.000
min            19.800
fgm             2.500
fga             5.700
fg_pct          0.437
fg3m            0.300
fg3a            1.000
fg3_pct         0.298
ftm             1.100
fta             1.500
ft_pct          0.745
oreb            0.700
dreb            2.200
ast             1.200
tov             1.000
stl             0.600
blk             0.300
pts             6.600
dtype: float64

In [62]:
df.std()

player_id    388278.044987
gp               25.115265
age               4.344703
min              10.099563
fgm               2.159450
fga               4.594357
fg_pct            0.097001
fg3m              0.661287
fg3a              1.743706
fg3_pct           0.179157
ftm               1.397361
fta               1.769024
ft_pct            0.195102
oreb              0.831041
dreb              1.789594
ast               1.789208
tov               0.791090
stl               0.449050
blk               0.481362
pts               5.903179
dtype: float64

In [63]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_stats_total.csv')

In [64]:
df_slim = df.sample(20)

In [65]:
# List the column names to give info and see if rename or deletion neccesary
list(df_slim)

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts']

In [66]:
# Dot notation not perferred because doesn't work for spaces
df_slim.player_name

1820        Larry Sanders
479        Andre Iguodala
1585         Jrue Holiday
2393         Aaron Gordon
1507        DeMar DeRozan
644         Alan Anderson
196           Tony Parker
2668         Danuel House
299       Carmelo Anthony
2245             Alex Len
1275        D.J. Augustin
1052         Jared Dudley
716            Chris Paul
184     Richard Jefferson
469      Anderson Varejao
2260       Archie Goodwin
140        Chris Andersen
2209     Patrick Beverley
2503          Noah Vonleh
713            Chris Paul
Name: player_name, dtype: object

In [67]:
#Alternative and preferred method to get columns
df_slim['pts']

1820     178.0
479     1541.0
1585    1029.0
2393     719.0
1507    2020.0
644      564.0
196     1581.0
2668       0.0
299     1881.0
2245     613.0
1275     508.0
1052     422.0
716     1564.0
184      176.0
469      271.0
2260     505.0
140       28.0
2209     568.0
2503     283.0
713     1189.0
Name: pts, dtype: float64

In [68]:
df_slim[['player_name', 'pts']]

            player_name     pts
1820      Larry Sanders   178.0
479      Andre Iguodala  1541.0
1585       Jrue Holiday  1029.0
2393       Aaron Gordon   719.0
1507      DeMar DeRozan  2020.0
644       Alan Anderson   564.0
196         Tony Parker  1581.0
2668       Danuel House     0.0
299     Carmelo Anthony  1881.0
2245           Alex Len   613.0
1275      D.J. Augustin   508.0
1052       Jared Dudley   422.0
716          Chris Paul  1564.0
184   Richard Jefferson   176.0
469    Anderson Varejao   271.0
2260     Archie Goodwin   505.0
140      Chris Andersen    28.0
2209   Patrick Beverley   568.0
2503        Noah Vonleh   283.0
713          Chris Paul  1189.0

In [69]:
list_of_columns = ['player_name', 'ftm', 'fta']

In [70]:
df_slim[list_of_columns]

            player_name    ftm    fta
1820      Larry Sanders   26.0   55.0
479      Andre Iguodala  377.0  521.0
1585       Jrue Holiday  119.0  168.0
2393       Aaron Gordon  129.0  193.0
1507      DeMar DeRozan  545.0  647.0
644       Alan Anderson   92.0  118.0
196         Tony Parker  284.0  363.0
2668       Danuel House    0.0    0.0
299     Carmelo Anthony  459.0  568.0
2245           Alex Len  150.0  208.0
1275      D.J. Augustin  102.0  131.0
1052       Jared Dudley   87.0  118.0
716          Chris Paul  289.0  321.0
184   Richard Jefferson   38.0   53.0
469    Anderson Varejao   43.0   64.0
2260     Archie Goodwin  130.0  193.0
140      Chris Andersen   10.0   14.0
2209   Patrick Beverley   45.0   60.0
2503        Noah Vonleh   38.0   51.0
713          Chris Paul  260.0  302.0

In [72]:
list(df_slim)

['player_name',
 'player_id',
 'season_id',
 'gp',
 'age',
 'min',
 'fgm',
 'fga',
 'fg3m',
 'ftm',
 'fta',
 'oreb',
 'dreb',
 'ast',
 'tov',
 'stl',
 'blk',
 'pts']

# Iloc - format is row, column. if want all rows use :

In [73]:
df_slim.iloc[:, 0]

1820        Larry Sanders
479        Andre Iguodala
1585         Jrue Holiday
2393         Aaron Gordon
1507        DeMar DeRozan
644         Alan Anderson
196           Tony Parker
2668         Danuel House
299       Carmelo Anthony
2245             Alex Len
1275        D.J. Augustin
1052         Jared Dudley
716            Chris Paul
184     Richard Jefferson
469      Anderson Varejao
2260       Archie Goodwin
140        Chris Andersen
2209     Patrick Beverley
2503          Noah Vonleh
713            Chris Paul
Name: player_name, dtype: object

In [74]:
#Iloc giving all rows for 1st thru 3rd column
df_slim.iloc[:, 0:3]

            player_name  player_id season_id
1820      Larry Sanders     202336   2013-14
479      Andre Iguodala       2738   2008-09
1585       Jrue Holiday     201950   2016-17
2393       Aaron Gordon     203932   2015-16
1507      DeMar DeRozan     201942   2016-17
644       Alan Anderson     101187   2013-14
196         Tony Parker       2225   2008-09
2668       Danuel House    1627863   2016-17
299     Carmelo Anthony       2546   2006-07
2245           Alex Len     203458   2016-17
1275      D.J. Augustin     201571   2009-10
1052       Jared Dudley     201162   2007-08
716          Chris Paul     101108   2014-15
184   Richard Jefferson       2210   2012-13
469    Anderson Varejao       2760   2011-12
2260     Archie Goodwin     203462   2015-16
140      Chris Andersen       2365   2016-17
2209   Patrick Beverley     201976   2014-15
2503        Noah Vonleh     203943   2015-16
713          Chris Paul     101108   2011-12

In [75]:
#Iloc giving all rows for a list of columns (lists use brackets)
df_slim.iloc[:, [1,4,6]]

      player_id   age    fgm
1820     202336  25.0   76.0
479        2738  25.0  542.0
1585     201950  26.0  405.0
2393     203932  20.0  274.0
1507     201942  27.0  721.0
644      101187  31.0  194.0
196        2225  27.0  639.0
2668    1627863  23.0    0.0
299        2546  23.0  691.0
2245     203458  23.0  230.0
1275     201571  22.0  168.0
1052     201162  22.0  163.0
716      101108  30.0  568.0
184        2210  33.0   62.0
469        2760  29.0  114.0
2260     203462  21.0  176.0
140        2365  38.0    9.0
2209     201976  26.0  204.0
2503     203943  20.0  117.0
713      101108  27.0  425.0

In [76]:
#Adding and Deleting Columns
df_slim['ppg'] = 0

In [77]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
1820,Larry Sanders,202336,2013-14,23.0,25.0,584.432000,76.0,162.0,0.0,26.0,55.0,60.0,105.0,19.0,26.0,18.0,40.0,178.0,0
479,Andre Iguodala,2738,2008-09,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0,0
1585,Jrue Holiday,201950,2016-17,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0,0
2393,Aaron Gordon,203932,2015-16,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0,0
1507,DeMar DeRozan,201942,2016-17,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0,0
644,Alan Anderson,101187,2013-14,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0,0
196,Tony Parker,2225,2008-09,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0,0
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
299,Carmelo Anthony,2546,2006-07,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0,0
2245,Alex Len,203458,2016-17,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0,0
1275,D.J. Augustin,201571,2009-10,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0,0
1052,Jared Dudley,201162,2007-08,73.0,22.0,1383.820000,163.0,348.0,9.0,87.0,118.0,121.0,165.0,81.0,50.0,55.0,10.0,422.0,0
716,Chris Paul,101108,2014-15,82.0,30.0,2857.240000,568.0,1170.0,139.0,289.0,321.0,52.0,324.0,838.0,190.0,156.0,15.0,1564.0,0
184,Richard Jefferson,2210,2012-13,56.0,33.0,568.330000,62.0,136.0,14.0,38.0,53.0,5.0,79.0,31.0,23.0,14.0,7.0,176.0,0
469,Anderson Varejao,2760,2011-12,25.0,29.0,784.603000,114.0,222.0,0.0,43.0,64.0,109.0,178.0,43.0,45.0,35.0,17.0,271.0,0
2260,Archie Goodwin,203462,2015-16,57.0,21.0,1113.830000,176.0,422.0,23.0,130.0,193.0,27.0,115.0,118.0,100.0,27.0,13.0,505.0,0
140,Chris Andersen,2365,2016-17,12.0,38.0,113.793000,9.0,22.0,0.0,10.0,14.0,9.0,22.0,5.0,5.0,5.0,7.0,28.0,0
2209,Patrick Beverley,201976,2014-15,56.0,26.0,1726.780000,204.0,532.0,115.0,45.0,60.0,67.0,170.0,192.0,83.0,59.0,23.0,568.0,0
2503,Noah Vonleh,203943,2015-16,78.0,20.0,1173.500000,117.0,278.0,11.0,38.0,51.0,91.0,214.0,30.0,50.0,27.0,26.0,283.0,0
713,Chris Paul,101108,2011-12,60.0,27.0,2180.480000,425.0,890.0,79.0,260.0,302.0,42.0,171.0,543.0,124.0,152.0,4.0,1189.0,0

In [78]:
#Calculating ppg and rounding to 1 decimal place
df_slim['ppg'] = round((df_slim['pts'] / df_slim['gp']), 1)

In [79]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
1820,Larry Sanders,202336,2013-14,23.0,25.0,584.432000,76.0,162.0,0.0,26.0,55.0,60.0,105.0,19.0,26.0,18.0,40.0,178.0,7.7
479,Andre Iguodala,2738,2008-09,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0,18.8
1585,Jrue Holiday,201950,2016-17,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0,15.4
2393,Aaron Gordon,203932,2015-16,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0,9.2
1507,DeMar DeRozan,201942,2016-17,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0,27.3
644,Alan Anderson,101187,2013-14,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0,7.2
196,Tony Parker,2225,2008-09,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0,22.0
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
299,Carmelo Anthony,2546,2006-07,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0,28.9
2245,Alex Len,203458,2016-17,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0,8.0
1275,D.J. Augustin,201571,2009-10,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0,6.4
1052,Jared Dudley,201162,2007-08,73.0,22.0,1383.820000,163.0,348.0,9.0,87.0,118.0,121.0,165.0,81.0,50.0,55.0,10.0,422.0,5.8
716,Chris Paul,101108,2014-15,82.0,30.0,2857.240000,568.0,1170.0,139.0,289.0,321.0,52.0,324.0,838.0,190.0,156.0,15.0,1564.0,19.1
184,Richard Jefferson,2210,2012-13,56.0,33.0,568.330000,62.0,136.0,14.0,38.0,53.0,5.0,79.0,31.0,23.0,14.0,7.0,176.0,3.1
469,Anderson Varejao,2760,2011-12,25.0,29.0,784.603000,114.0,222.0,0.0,43.0,64.0,109.0,178.0,43.0,45.0,35.0,17.0,271.0,10.8
2260,Archie Goodwin,203462,2015-16,57.0,21.0,1113.830000,176.0,422.0,23.0,130.0,193.0,27.0,115.0,118.0,100.0,27.0,13.0,505.0,8.9
140,Chris Andersen,2365,2016-17,12.0,38.0,113.793000,9.0,22.0,0.0,10.0,14.0,9.0,22.0,5.0,5.0,5.0,7.0,28.0,2.3
2209,Patrick Beverley,201976,2014-15,56.0,26.0,1726.780000,204.0,532.0,115.0,45.0,60.0,67.0,170.0,192.0,83.0,59.0,23.0,568.0,10.1
2503,Noah Vonleh,203943,2015-16,78.0,20.0,1173.500000,117.0,278.0,11.0,38.0,51.0,91.0,214.0,30.0,50.0,27.0,26.0,283.0,3.6
713,Chris Paul,101108,2011-12,60.0,27.0,2180.480000,425.0,890.0,79.0,260.0,302.0,42.0,171.0,543.0,124.0,152.0,4.0,1189.0,19.8

In [80]:
#inserting Column
df_slim.insert(3, column = 'league', value = 'NBA')

In [81]:
df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ppg
1820,Larry Sanders,202336,2013-14,NBA,23.0,25.0,584.432000,76.0,162.0,0.0,26.0,55.0,60.0,105.0,19.0,26.0,18.0,40.0,178.0,7.7
479,Andre Iguodala,2738,2008-09,NBA,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0,18.8
1585,Jrue Holiday,201950,2016-17,NBA,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0,15.4
2393,Aaron Gordon,203932,2015-16,NBA,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0,9.2
1507,DeMar DeRozan,201942,2016-17,NBA,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0,27.3
644,Alan Anderson,101187,2013-14,NBA,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0,7.2
196,Tony Parker,2225,2008-09,NBA,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0,22.0
2668,Danuel House,1627863,2016-17,NBA,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
299,Carmelo Anthony,2546,2006-07,NBA,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0,28.9
2245,Alex Len,203458,2016-17,NBA,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0,8.0
1275,D.J. Augustin,201571,2009-10,NBA,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0,6.4
1052,Jared Dudley,201162,2007-08,NBA,73.0,22.0,1383.820000,163.0,348.0,9.0,87.0,118.0,121.0,165.0,81.0,50.0,55.0,10.0,422.0,5.8
716,Chris Paul,101108,2014-15,NBA,82.0,30.0,2857.240000,568.0,1170.0,139.0,289.0,321.0,52.0,324.0,838.0,190.0,156.0,15.0,1564.0,19.1
184,Richard Jefferson,2210,2012-13,NBA,56.0,33.0,568.330000,62.0,136.0,14.0,38.0,53.0,5.0,79.0,31.0,23.0,14.0,7.0,176.0,3.1
469,Anderson Varejao,2760,2011-12,NBA,25.0,29.0,784.603000,114.0,222.0,0.0,43.0,64.0,109.0,178.0,43.0,45.0,35.0,17.0,271.0,10.8
2260,Archie Goodwin,203462,2015-16,NBA,57.0,21.0,1113.830000,176.0,422.0,23.0,130.0,193.0,27.0,115.0,118.0,100.0,27.0,13.0,505.0,8.9
140,Chris Andersen,2365,2016-17,NBA,12.0,38.0,113.793000,9.0,22.0,0.0,10.0,14.0,9.0,22.0,5.0,5.0,5.0,7.0,28.0,2.3
2209,Patrick Beverley,201976,2014-15,NBA,56.0,26.0,1726.780000,204.0,532.0,115.0,45.0,60.0,67.0,170.0,192.0,83.0,59.0,23.0,568.0,10.1
2503,Noah Vonleh,203943,2015-16,NBA,78.0,20.0,1173.500000,117.0,278.0,11.0,38.0,51.0,91.0,214.0,30.0,50.0,27.0,26.0,283.0,3.6
713,Chris Paul,101108,2011-12,NBA,60.0,27.0,2180.480000,425.0,890.0,79.0,260.0,302.0,42.0,171.0,543.0,124.0,152.0,4.0,1189.0,19.8

In [82]:
#deleting a column
del df_slim['ppg']

In [83]:
df_slim

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1820,Larry Sanders,202336,2013-14,NBA,23.0,25.0,584.432000,76.0,162.0,0.0,26.0,55.0,60.0,105.0,19.0,26.0,18.0,40.0,178.0
479,Andre Iguodala,2738,2008-09,NBA,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0
1585,Jrue Holiday,201950,2016-17,NBA,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0
2393,Aaron Gordon,203932,2015-16,NBA,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0
1507,DeMar DeRozan,201942,2016-17,NBA,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0
644,Alan Anderson,101187,2013-14,NBA,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0
196,Tony Parker,2225,2008-09,NBA,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0
2668,Danuel House,1627863,2016-17,NBA,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
299,Carmelo Anthony,2546,2006-07,NBA,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0
2245,Alex Len,203458,2016-17,NBA,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0
1275,D.J. Augustin,201571,2009-10,NBA,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0
1052,Jared Dudley,201162,2007-08,NBA,73.0,22.0,1383.820000,163.0,348.0,9.0,87.0,118.0,121.0,165.0,81.0,50.0,55.0,10.0,422.0
716,Chris Paul,101108,2014-15,NBA,82.0,30.0,2857.240000,568.0,1170.0,139.0,289.0,321.0,52.0,324.0,838.0,190.0,156.0,15.0,1564.0
184,Richard Jefferson,2210,2012-13,NBA,56.0,33.0,568.330000,62.0,136.0,14.0,38.0,53.0,5.0,79.0,31.0,23.0,14.0,7.0,176.0
469,Anderson Varejao,2760,2011-12,NBA,25.0,29.0,784.603000,114.0,222.0,0.0,43.0,64.0,109.0,178.0,43.0,45.0,35.0,17.0,271.0
2260,Archie Goodwin,203462,2015-16,NBA,57.0,21.0,1113.830000,176.0,422.0,23.0,130.0,193.0,27.0,115.0,118.0,100.0,27.0,13.0,505.0
140,Chris Andersen,2365,2016-17,NBA,12.0,38.0,113.793000,9.0,22.0,0.0,10.0,14.0,9.0,22.0,5.0,5.0,5.0,7.0,28.0
2209,Patrick Beverley,201976,2014-15,NBA,56.0,26.0,1726.780000,204.0,532.0,115.0,45.0,60.0,67.0,170.0,192.0,83.0,59.0,23.0,568.0
2503,Noah Vonleh,203943,2015-16,NBA,78.0,20.0,1173.500000,117.0,278.0,11.0,38.0,51.0,91.0,214.0,30.0,50.0,27.0,26.0,283.0
713,Chris Paul,101108,2011-12,NBA,60.0,27.0,2180.480000,425.0,890.0,79.0,260.0,302.0,42.0,171.0,543.0,124.0,152.0,4.0,1189.0

In [86]:
#Dropping a column. axis=0 for rows, axis=1 for columns
df = df_slim.drop('league', axis=1)
df

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1820,Larry Sanders,202336,2013-14,23.0,25.0,584.432000,76.0,162.0,0.0,26.0,55.0,60.0,105.0,19.0,26.0,18.0,40.0,178.0
479,Andre Iguodala,2738,2008-09,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0
1585,Jrue Holiday,201950,2016-17,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0
2393,Aaron Gordon,203932,2015-16,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0
1507,DeMar DeRozan,201942,2016-17,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0
644,Alan Anderson,101187,2013-14,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0
196,Tony Parker,2225,2008-09,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0
2668,Danuel House,1627863,2016-17,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
299,Carmelo Anthony,2546,2006-07,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0
2245,Alex Len,203458,2016-17,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0
1275,D.J. Augustin,201571,2009-10,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0
1052,Jared Dudley,201162,2007-08,73.0,22.0,1383.820000,163.0,348.0,9.0,87.0,118.0,121.0,165.0,81.0,50.0,55.0,10.0,422.0
716,Chris Paul,101108,2014-15,82.0,30.0,2857.240000,568.0,1170.0,139.0,289.0,321.0,52.0,324.0,838.0,190.0,156.0,15.0,1564.0
184,Richard Jefferson,2210,2012-13,56.0,33.0,568.330000,62.0,136.0,14.0,38.0,53.0,5.0,79.0,31.0,23.0,14.0,7.0,176.0
469,Anderson Varejao,2760,2011-12,25.0,29.0,784.603000,114.0,222.0,0.0,43.0,64.0,109.0,178.0,43.0,45.0,35.0,17.0,271.0
2260,Archie Goodwin,203462,2015-16,57.0,21.0,1113.830000,176.0,422.0,23.0,130.0,193.0,27.0,115.0,118.0,100.0,27.0,13.0,505.0
140,Chris Andersen,2365,2016-17,12.0,38.0,113.793000,9.0,22.0,0.0,10.0,14.0,9.0,22.0,5.0,5.0,5.0,7.0,28.0
2209,Patrick Beverley,201976,2014-15,56.0,26.0,1726.780000,204.0,532.0,115.0,45.0,60.0,67.0,170.0,192.0,83.0,59.0,23.0,568.0
2503,Noah Vonleh,203943,2015-16,78.0,20.0,1173.500000,117.0,278.0,11.0,38.0,51.0,91.0,214.0,30.0,50.0,27.0,26.0,283.0
713,Chris Paul,101108,2011-12,60.0,27.0,2180.480000,425.0,890.0,79.0,260.0,302.0,42.0,171.0,543.0,124.0,152.0,4.0,1189.0

In [ ]:
# new_df = old_df[['col1', 'col2', 'col3']]

In [87]:
reb_df = df_slim[['player_name', 'oreb', 'dreb']]
reb_df

            player_name   oreb   dreb
1820      Larry Sanders   60.0  105.0
479      Andre Iguodala   92.0  379.0
1585       Jrue Holiday   46.0  218.0
2393       Aaron Gordon  154.0  353.0
1507      DeMar DeRozan   70.0  316.0
644       Alan Anderson   40.0  135.0
196         Tony Parker   27.0  196.0
2668       Danuel House    0.0    1.0
299     Carmelo Anthony  143.0  248.0
2245           Alex Len  156.0  354.0
1275      D.J. Augustin   11.0   86.0
1052       Jared Dudley  121.0  165.0
716          Chris Paul   52.0  324.0
184   Richard Jefferson    5.0   79.0
469    Anderson Varejao  109.0  178.0
2260     Archie Goodwin   27.0  115.0
140      Chris Andersen    9.0   22.0
2209   Patrick Beverley   67.0  170.0
2503        Noah Vonleh   91.0  214.0
713          Chris Paul   42.0  171.0

In [88]:
# Renaming column using a dictionary. Format is {'want renamed': 'rename to', etc}

In [90]:
# Iloc for Rows, if looking for every column dont need to put a column
df_slim.iloc[8]

player_name    Carmelo Anthony
player_id                 2546
season_id              2006-07
league                     NBA
gp                        65.0
age                       23.0
min                    2485.43
fgm                      691.0
fga                     1453.0
fg3m                      40.0
ftm                      459.0
fta                      568.0
oreb                     143.0
dreb                     248.0
ast                      249.0
tov                      234.0
stl                       77.0
blk                       23.0
pts                     1881.0
Name: 299, dtype: object

In [91]:
#Iloc skipping selecting specific rows
df_slim.iloc[1:11]

,player_name,player_id,season_id,league,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
479,Andre Iguodala,2738,2008-09,NBA,82.0,25.0,3269.190000,542.0,1147.0,80.0,377.0,521.0,92.0,379.0,434.0,222.0,131.0,36.0,1541.0
1585,Jrue Holiday,201950,2016-17,NBA,67.0,26.0,2189.950000,405.0,893.0,100.0,119.0,168.0,46.0,218.0,488.0,194.0,100.0,44.0,1029.0
2393,Aaron Gordon,203932,2015-16,NBA,78.0,20.0,1862.920000,274.0,579.0,42.0,129.0,193.0,154.0,353.0,128.0,66.0,59.0,55.0,719.0
1507,DeMar DeRozan,201942,2016-17,NBA,74.0,27.0,2620.230000,721.0,1545.0,33.0,545.0,647.0,70.0,316.0,290.0,180.0,78.0,13.0,2020.0
644,Alan Anderson,101187,2013-14,NBA,78.0,31.0,1772.480000,194.0,485.0,84.0,92.0,118.0,40.0,135.0,81.0,62.0,48.0,11.0,564.0
196,Tony Parker,2225,2008-09,NBA,72.0,27.0,2455.860000,639.0,1263.0,19.0,284.0,363.0,27.0,196.0,496.0,186.0,67.0,4.0,1581.0
2668,Danuel House,1627863,2016-17,NBA,1.0,23.0,0.826667,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
299,Carmelo Anthony,2546,2006-07,NBA,65.0,23.0,2485.430000,691.0,1453.0,40.0,459.0,568.0,143.0,248.0,249.0,234.0,77.0,23.0,1881.0
2245,Alex Len,203458,2016-17,NBA,77.0,23.0,1559.580000,230.0,463.0,3.0,150.0,208.0,156.0,354.0,44.0,102.0,38.0,98.0,613.0
1275,D.J. Augustin,201571,2009-10,NBA,80.0,22.0,1472.510000,168.0,435.0,70.0,102.0,131.0,11.0,86.0,193.0,74.0,45.0,5.0,508.0

## Location uses the index label

In [96]:
lakers_dict = {
    'first_name': ['Lebron', 'Anthony', 'Dennis', 'Kyle', 'Kentavious'],
    'last_name' : ['James', 'Davis', 'Schroder', 'Kuzma', 'Caldwell-Pope'],
    'mpg' : [33.4, 32.3, 32.1, 28.7, 28.4],
    'ppg' : [25.0, 21.8, 15.4, 12.9, 9.7],
    'rpg' : [ 7.7, 7.9, 3.5, 6.1, 2.7],
    'apg' : [7.8, 3.1, 5.8, 1.9, 1.9]
}
df_pos = pd.DataFrame(lakers_dict, index=['pf', 'c','pg', 'sf', 'sg'])

In [98]:
df_pos.loc['sf']

first_name     Kyle
last_name     Kuzma
mpg            28.7
ppg            12.9
rpg             6.1
apg             1.9
Name: sf, dtype: object

In [103]:
df_pos.loc[['sf', 'pg']]

   first_name last_name   mpg   ppg  rpg  apg
sf       Kyle     Kuzma  28.7  12.9  6.1  1.9
pg     Dennis  Schroder  32.1  15.4  3.5  5.8

In [104]:
# adding & dropping rows

In [5]:
import numpy as np

In [6]:
raw_data = {'player_name':['Lebron James', 'Lonzo Ball', 'Kyle Kuzma', np.nan, 'Josh Hart'],
            'team': ['LAL', 'LAL', 'LAL', np.nan, 'LAL'],
            'gp': [55, 47, 70, np.nan, np.nan],
            'blocks': [33, 19, np.nan, np.nan, 40]}

In [7]:
laker_df = pd.DataFrame(raw_data, columns = ['player_name', 'team', 'gp', 'blocks'])

In [8]:
laker_df

    player_name team    gp  blocks
0  Lebron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    19.0
2    Kyle Kuzma  LAL  70.0     NaN
3           NaN  NaN   NaN     NaN
4     Josh Hart  LAL   NaN    40.0

In [9]:
clean_df1 = laker_df.dropna(axis=0, how='any')

In [10]:
clean_df1

    player_name team    gp  blocks
0  Lebron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    19.0

In [11]:
clean_df2 = laker_df.dropna(axis=0, how='all')

In [12]:
clean_df2

    player_name team    gp  blocks
0  Lebron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    19.0
2    Kyle Kuzma  LAL  70.0     NaN
4     Josh Hart  LAL   NaN    40.0

In [13]:
#The default how is any (any NaN and row gets dropped)
clean_df3 = laker_df.dropna(subset = ['gp'])

In [14]:
clean_df3

    player_name team    gp  blocks
0  Lebron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    19.0
2    Kyle Kuzma  LAL  70.0     NaN

In [15]:
#fill the rows in with no values; (value you want to add)
updated_df1 = laker_df.fillna(0)

In [16]:
updated_df1

    player_name team    gp  blocks
0  Lebron James  LAL  55.0    33.0
1    Lonzo Ball  LAL  47.0    19.0
2    Kyle Kuzma  LAL  70.0     0.0
3             0    0   0.0     0.0
4     Josh Hart  LAL   0.0    40.0

In [3]:
df1 = pd.DataFrame([['Lebron James', '2014-15', 25.3],['Lebron James', '2015-16', 25.3]]
                  , columns = ['player', 'season', 'ppg'])

In [4]:
df1

         player   season   ppg
0  Lebron James  2014-15  25.3
1  Lebron James  2015-16  25.3

In [5]:
df2 = pd.DataFrame([['Lebron James', '2016-17', 26.4]]
                  , columns = ['player', 'season', 'ppg'])

In [6]:
df2

         player   season   ppg
0  Lebron James  2016-17  26.4

In [7]:
df_new = df1.append(df2)

In [8]:
df_new

         player   season   ppg
0  Lebron James  2014-15  25.3
1  Lebron James  2015-16  25.3
0  Lebron James  2016-17  26.4

# Inplace parameter. inplace allows you to overwrite an existing dataframe

In [9]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_stats_total.csv')

In [10]:
df_slim = df.sample(20)

In [11]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
1386,Luc Mbah a Moute,201601,2015-16,75.0,29.0,1273.830,94.0,207.0,13.0,30.0,57.0,60.0,111.0,30.0,34.0,44.0,19.0,231.0
309,Carmelo Anthony,2546,2016-17,74.0,32.0,2538.110,602.0,1389.0,151.0,304.0,365.0,62.0,376.0,213.0,153.0,60.0,34.0,1659.0
1335,Goran Dragic,201609,2009-10,80.0,24.0,1442.150,222.0,491.0,74.0,117.0,159.0,38.0,133.0,241.0,126.0,48.0,8.0,635.0
1349,JaVale McGee,201580,2014-15,23.0,27.0,256.022,42.0,79.0,0.0,22.0,33.0,18.0,43.0,3.0,18.0,2.0,20.0,106.0
462,Anderson Varejao,2760,2004-05,54.0,22.0,868.762,99.0,193.0,0.0,68.0,127.0,109.0,148.0,27.0,26.0,41.0,38.0,266.0
450,Al Jefferson,2744,2005-06,59.0,21.0,1062.420,189.0,379.0,0.0,86.0,134.0,97.0,202.0,30.0,62.0,30.0,46.0,464.0
1385,Luc Mbah a Moute,201601,2014-15,67.0,28.0,1916.480,251.0,636.0,62.0,96.0,163.0,82.0,246.0,106.0,99.0,81.0,21.0,660.0
1722,Derrick Favors,202324,2016-17,50.0,25.0,1185.610,203.0,417.0,3.0,67.0,109.0,92.0,213.0,56.0,60.0,45.0,40.0,476.0
593,Sasha Vujacic,2756,2005-06,82.0,22.0,1448.610,108.0,312.0,59.0,46.0,52.0,33.0,126.0,139.0,50.0,48.0,3.0,321.0
1654,Ty Lawson,201951,2014-15,75.0,27.0,2665.490,404.0,926.0,70.0,265.0,363.0,42.0,192.0,720.0,185.0,92.0,9.0,1143.0
1327,George Hill,201588,2010-11,76.0,25.0,2147.980,287.0,633.0,77.0,233.0,270.0,24.0,175.0,193.0,99.0,66.0,21.0,884.0
556,Kris Humphries,2743,2007-08,70.0,23.0,924.850,161.0,333.0,0.0,75.0,124.0,90.0,169.0,28.0,47.0,25.0,28.0,397.0
2691,Jakob Poeltl,1627751,2016-17,54.0,21.0,626.430,67.0,115.0,0.0,31.0,57.0,78.0,87.0,12.0,29.0,17.0,20.0,165.0
622,Tony Allen,2754,2012-13,79.0,31.0,2109.080,284.0,638.0,3.0,134.0,187.0,121.0,242.0,98.0,94.0,119.0,44.0,705.0
34,Paul Pierce,1718,2013-14,75.0,36.0,2098.020,321.0,712.0,112.0,256.0,310.0,26.0,322.0,178.0,153.0,86.0,31.0,1010.0
2149,Jonas Valanciunas,202685,2013-14,81.0,22.0,2282.230,359.0,676.0,0.0,198.0,260.0,226.0,488.0,57.0,136.0,24.0,71.0,916.0
2702,Malachi Richardson,1627781,2016-17,22.0,21.0,198.118,28.0,68.0,8.0,15.0,19.0,3.0,20.0,11.0,8.0,5.0,1.0,79.0
2269,CJ McCollum,203468,2013-14,38.0,22.0,475.740,74.0,178.0,30.0,23.0,34.0,7.0,41.0,27.0,35.0,14.0,2.0,201.0
1055,Jared Dudley,201162,2010-11,82.0,25.0,2139.590,300.0,629.0,105.0,162.0,218.0,111.0,207.0,108.0,77.0,87.0,20.0,867.0

In [12]:
# This temporarly sorts the data frame by games played
df_slim.sort_values('gp')

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2702,Malachi Richardson,1627781,2016-17,22.0,21.0,198.118,28.0,68.0,8.0,15.0,19.0,3.0,20.0,11.0,8.0,5.0,1.0,79.0
1349,JaVale McGee,201580,2014-15,23.0,27.0,256.022,42.0,79.0,0.0,22.0,33.0,18.0,43.0,3.0,18.0,2.0,20.0,106.0
2269,CJ McCollum,203468,2013-14,38.0,22.0,475.740,74.0,178.0,30.0,23.0,34.0,7.0,41.0,27.0,35.0,14.0,2.0,201.0
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
1722,Derrick Favors,202324,2016-17,50.0,25.0,1185.610,203.0,417.0,3.0,67.0,109.0,92.0,213.0,56.0,60.0,45.0,40.0,476.0
462,Anderson Varejao,2760,2004-05,54.0,22.0,868.762,99.0,193.0,0.0,68.0,127.0,109.0,148.0,27.0,26.0,41.0,38.0,266.0
2691,Jakob Poeltl,1627751,2016-17,54.0,21.0,626.430,67.0,115.0,0.0,31.0,57.0,78.0,87.0,12.0,29.0,17.0,20.0,165.0
450,Al Jefferson,2744,2005-06,59.0,21.0,1062.420,189.0,379.0,0.0,86.0,134.0,97.0,202.0,30.0,62.0,30.0,46.0,464.0
1385,Luc Mbah a Moute,201601,2014-15,67.0,28.0,1916.480,251.0,636.0,62.0,96.0,163.0,82.0,246.0,106.0,99.0,81.0,21.0,660.0
556,Kris Humphries,2743,2007-08,70.0,23.0,924.850,161.0,333.0,0.0,75.0,124.0,90.0,169.0,28.0,47.0,25.0,28.0,397.0
309,Carmelo Anthony,2546,2016-17,74.0,32.0,2538.110,602.0,1389.0,151.0,304.0,365.0,62.0,376.0,213.0,153.0,60.0,34.0,1659.0
1386,Luc Mbah a Moute,201601,2015-16,75.0,29.0,1273.830,94.0,207.0,13.0,30.0,57.0,60.0,111.0,30.0,34.0,44.0,19.0,231.0
1654,Ty Lawson,201951,2014-15,75.0,27.0,2665.490,404.0,926.0,70.0,265.0,363.0,42.0,192.0,720.0,185.0,92.0,9.0,1143.0
34,Paul Pierce,1718,2013-14,75.0,36.0,2098.020,321.0,712.0,112.0,256.0,310.0,26.0,322.0,178.0,153.0,86.0,31.0,1010.0
1327,George Hill,201588,2010-11,76.0,25.0,2147.980,287.0,633.0,77.0,233.0,270.0,24.0,175.0,193.0,99.0,66.0,21.0,884.0
622,Tony Allen,2754,2012-13,79.0,31.0,2109.080,284.0,638.0,3.0,134.0,187.0,121.0,242.0,98.0,94.0,119.0,44.0,705.0
1335,Goran Dragic,201609,2009-10,80.0,24.0,1442.150,222.0,491.0,74.0,117.0,159.0,38.0,133.0,241.0,126.0,48.0,8.0,635.0
2149,Jonas Valanciunas,202685,2013-14,81.0,22.0,2282.230,359.0,676.0,0.0,198.0,260.0,226.0,488.0,57.0,136.0,24.0,71.0,916.0
593,Sasha Vujacic,2756,2005-06,82.0,22.0,1448.610,108.0,312.0,59.0,46.0,52.0,33.0,126.0,139.0,50.0,48.0,3.0,321.0
1055,Jared Dudley,201162,2010-11,82.0,25.0,2139.590,300.0,629.0,105.0,162.0,218.0,111.0,207.0,108.0,77.0,87.0,20.0,867.0

In [13]:
# This saves the sorted values back to df_slim
df_slim = df_slim.sort_values('gp')

In [14]:
# Don't need to reuse df_slim variable using inplace. inplace auto saves the sorted table to df_slim
df_slim.sort_values('gp', inplace = True)

In [15]:
df_slim

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2702,Malachi Richardson,1627781,2016-17,22.0,21.0,198.118,28.0,68.0,8.0,15.0,19.0,3.0,20.0,11.0,8.0,5.0,1.0,79.0
1349,JaVale McGee,201580,2014-15,23.0,27.0,256.022,42.0,79.0,0.0,22.0,33.0,18.0,43.0,3.0,18.0,2.0,20.0,106.0
2269,CJ McCollum,203468,2013-14,38.0,22.0,475.740,74.0,178.0,30.0,23.0,34.0,7.0,41.0,27.0,35.0,14.0,2.0,201.0
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
1722,Derrick Favors,202324,2016-17,50.0,25.0,1185.610,203.0,417.0,3.0,67.0,109.0,92.0,213.0,56.0,60.0,45.0,40.0,476.0
462,Anderson Varejao,2760,2004-05,54.0,22.0,868.762,99.0,193.0,0.0,68.0,127.0,109.0,148.0,27.0,26.0,41.0,38.0,266.0
2691,Jakob Poeltl,1627751,2016-17,54.0,21.0,626.430,67.0,115.0,0.0,31.0,57.0,78.0,87.0,12.0,29.0,17.0,20.0,165.0
450,Al Jefferson,2744,2005-06,59.0,21.0,1062.420,189.0,379.0,0.0,86.0,134.0,97.0,202.0,30.0,62.0,30.0,46.0,464.0
1385,Luc Mbah a Moute,201601,2014-15,67.0,28.0,1916.480,251.0,636.0,62.0,96.0,163.0,82.0,246.0,106.0,99.0,81.0,21.0,660.0
556,Kris Humphries,2743,2007-08,70.0,23.0,924.850,161.0,333.0,0.0,75.0,124.0,90.0,169.0,28.0,47.0,25.0,28.0,397.0
309,Carmelo Anthony,2546,2016-17,74.0,32.0,2538.110,602.0,1389.0,151.0,304.0,365.0,62.0,376.0,213.0,153.0,60.0,34.0,1659.0
1386,Luc Mbah a Moute,201601,2015-16,75.0,29.0,1273.830,94.0,207.0,13.0,30.0,57.0,60.0,111.0,30.0,34.0,44.0,19.0,231.0
1654,Ty Lawson,201951,2014-15,75.0,27.0,2665.490,404.0,926.0,70.0,265.0,363.0,42.0,192.0,720.0,185.0,92.0,9.0,1143.0
34,Paul Pierce,1718,2013-14,75.0,36.0,2098.020,321.0,712.0,112.0,256.0,310.0,26.0,322.0,178.0,153.0,86.0,31.0,1010.0
1327,George Hill,201588,2010-11,76.0,25.0,2147.980,287.0,633.0,77.0,233.0,270.0,24.0,175.0,193.0,99.0,66.0,21.0,884.0
622,Tony Allen,2754,2012-13,79.0,31.0,2109.080,284.0,638.0,3.0,134.0,187.0,121.0,242.0,98.0,94.0,119.0,44.0,705.0
1335,Goran Dragic,201609,2009-10,80.0,24.0,1442.150,222.0,491.0,74.0,117.0,159.0,38.0,133.0,241.0,126.0,48.0,8.0,635.0
2149,Jonas Valanciunas,202685,2013-14,81.0,22.0,2282.230,359.0,676.0,0.0,198.0,260.0,226.0,488.0,57.0,136.0,24.0,71.0,916.0
593,Sasha Vujacic,2756,2005-06,82.0,22.0,1448.610,108.0,312.0,59.0,46.0,52.0,33.0,126.0,139.0,50.0,48.0,3.0,321.0
1055,Jared Dudley,201162,2010-11,82.0,25.0,2139.590,300.0,629.0,105.0,162.0,218.0,111.0,207.0,108.0,77.0,87.0,20.0,867.0

In [18]:
# sorting by pts, but not saving the pts sort
df_slim.sort_values('pts', inplace = False)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2702,Malachi Richardson,1627781,2016-17,22.0,21.0,198.118,28.0,68.0,8.0,15.0,19.0,3.0,20.0,11.0,8.0,5.0,1.0,79.0
1349,JaVale McGee,201580,2014-15,23.0,27.0,256.022,42.0,79.0,0.0,22.0,33.0,18.0,43.0,3.0,18.0,2.0,20.0,106.0
2691,Jakob Poeltl,1627751,2016-17,54.0,21.0,626.430,67.0,115.0,0.0,31.0,57.0,78.0,87.0,12.0,29.0,17.0,20.0,165.0
2269,CJ McCollum,203468,2013-14,38.0,22.0,475.740,74.0,178.0,30.0,23.0,34.0,7.0,41.0,27.0,35.0,14.0,2.0,201.0
1386,Luc Mbah a Moute,201601,2015-16,75.0,29.0,1273.830,94.0,207.0,13.0,30.0,57.0,60.0,111.0,30.0,34.0,44.0,19.0,231.0
462,Anderson Varejao,2760,2004-05,54.0,22.0,868.762,99.0,193.0,0.0,68.0,127.0,109.0,148.0,27.0,26.0,41.0,38.0,266.0
593,Sasha Vujacic,2756,2005-06,82.0,22.0,1448.610,108.0,312.0,59.0,46.0,52.0,33.0,126.0,139.0,50.0,48.0,3.0,321.0
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
556,Kris Humphries,2743,2007-08,70.0,23.0,924.850,161.0,333.0,0.0,75.0,124.0,90.0,169.0,28.0,47.0,25.0,28.0,397.0
450,Al Jefferson,2744,2005-06,59.0,21.0,1062.420,189.0,379.0,0.0,86.0,134.0,97.0,202.0,30.0,62.0,30.0,46.0,464.0
1722,Derrick Favors,202324,2016-17,50.0,25.0,1185.610,203.0,417.0,3.0,67.0,109.0,92.0,213.0,56.0,60.0,45.0,40.0,476.0
1335,Goran Dragic,201609,2009-10,80.0,24.0,1442.150,222.0,491.0,74.0,117.0,159.0,38.0,133.0,241.0,126.0,48.0,8.0,635.0
1385,Luc Mbah a Moute,201601,2014-15,67.0,28.0,1916.480,251.0,636.0,62.0,96.0,163.0,82.0,246.0,106.0,99.0,81.0,21.0,660.0
622,Tony Allen,2754,2012-13,79.0,31.0,2109.080,284.0,638.0,3.0,134.0,187.0,121.0,242.0,98.0,94.0,119.0,44.0,705.0
1055,Jared Dudley,201162,2010-11,82.0,25.0,2139.590,300.0,629.0,105.0,162.0,218.0,111.0,207.0,108.0,77.0,87.0,20.0,867.0
1327,George Hill,201588,2010-11,76.0,25.0,2147.980,287.0,633.0,77.0,233.0,270.0,24.0,175.0,193.0,99.0,66.0,21.0,884.0
2149,Jonas Valanciunas,202685,2013-14,81.0,22.0,2282.230,359.0,676.0,0.0,198.0,260.0,226.0,488.0,57.0,136.0,24.0,71.0,916.0
34,Paul Pierce,1718,2013-14,75.0,36.0,2098.020,321.0,712.0,112.0,256.0,310.0,26.0,322.0,178.0,153.0,86.0,31.0,1010.0
1654,Ty Lawson,201951,2014-15,75.0,27.0,2665.490,404.0,926.0,70.0,265.0,363.0,42.0,192.0,720.0,185.0,92.0,9.0,1143.0
309,Carmelo Anthony,2546,2016-17,74.0,32.0,2538.110,602.0,1389.0,151.0,304.0,365.0,62.0,376.0,213.0,153.0,60.0,34.0,1659.0

In [19]:
df_sorted_pts = df_slim.sort_values('pts', inplace = False)

In [20]:
df_sorted_pts

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
2702,Malachi Richardson,1627781,2016-17,22.0,21.0,198.118,28.0,68.0,8.0,15.0,19.0,3.0,20.0,11.0,8.0,5.0,1.0,79.0
1349,JaVale McGee,201580,2014-15,23.0,27.0,256.022,42.0,79.0,0.0,22.0,33.0,18.0,43.0,3.0,18.0,2.0,20.0,106.0
2691,Jakob Poeltl,1627751,2016-17,54.0,21.0,626.430,67.0,115.0,0.0,31.0,57.0,78.0,87.0,12.0,29.0,17.0,20.0,165.0
2269,CJ McCollum,203468,2013-14,38.0,22.0,475.740,74.0,178.0,30.0,23.0,34.0,7.0,41.0,27.0,35.0,14.0,2.0,201.0
1386,Luc Mbah a Moute,201601,2015-16,75.0,29.0,1273.830,94.0,207.0,13.0,30.0,57.0,60.0,111.0,30.0,34.0,44.0,19.0,231.0
462,Anderson Varejao,2760,2004-05,54.0,22.0,868.762,99.0,193.0,0.0,68.0,127.0,109.0,148.0,27.0,26.0,41.0,38.0,266.0
593,Sasha Vujacic,2756,2005-06,82.0,22.0,1448.610,108.0,312.0,59.0,46.0,52.0,33.0,126.0,139.0,50.0,48.0,3.0,321.0
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
556,Kris Humphries,2743,2007-08,70.0,23.0,924.850,161.0,333.0,0.0,75.0,124.0,90.0,169.0,28.0,47.0,25.0,28.0,397.0
450,Al Jefferson,2744,2005-06,59.0,21.0,1062.420,189.0,379.0,0.0,86.0,134.0,97.0,202.0,30.0,62.0,30.0,46.0,464.0
1722,Derrick Favors,202324,2016-17,50.0,25.0,1185.610,203.0,417.0,3.0,67.0,109.0,92.0,213.0,56.0,60.0,45.0,40.0,476.0
1335,Goran Dragic,201609,2009-10,80.0,24.0,1442.150,222.0,491.0,74.0,117.0,159.0,38.0,133.0,241.0,126.0,48.0,8.0,635.0
1385,Luc Mbah a Moute,201601,2014-15,67.0,28.0,1916.480,251.0,636.0,62.0,96.0,163.0,82.0,246.0,106.0,99.0,81.0,21.0,660.0
622,Tony Allen,2754,2012-13,79.0,31.0,2109.080,284.0,638.0,3.0,134.0,187.0,121.0,242.0,98.0,94.0,119.0,44.0,705.0
1055,Jared Dudley,201162,2010-11,82.0,25.0,2139.590,300.0,629.0,105.0,162.0,218.0,111.0,207.0,108.0,77.0,87.0,20.0,867.0
1327,George Hill,201588,2010-11,76.0,25.0,2147.980,287.0,633.0,77.0,233.0,270.0,24.0,175.0,193.0,99.0,66.0,21.0,884.0
2149,Jonas Valanciunas,202685,2013-14,81.0,22.0,2282.230,359.0,676.0,0.0,198.0,260.0,226.0,488.0,57.0,136.0,24.0,71.0,916.0
34,Paul Pierce,1718,2013-14,75.0,36.0,2098.020,321.0,712.0,112.0,256.0,310.0,26.0,322.0,178.0,153.0,86.0,31.0,1010.0
1654,Ty Lawson,201951,2014-15,75.0,27.0,2665.490,404.0,926.0,70.0,265.0,363.0,42.0,192.0,720.0,185.0,92.0,9.0,1143.0
309,Carmelo Anthony,2546,2016-17,74.0,32.0,2538.110,602.0,1389.0,151.0,304.0,365.0,62.0,376.0,213.0,153.0,60.0,34.0,1659.0

# SORTING DATAFRAMES ; ascending order is default

In [23]:
laker_stats = {
    'first_name': ['Lebron', 'Anthony', 'Dennis', 'Kyle', 'Kentavious'],
    'last_name' : ['James', 'Davis', 'Schroder', 'Kuzma', 'Caldwell-Pope'],
    'mpg' : [33.4, 32.3, 32.1, 28.7, 28.4],
    'ppg' : [25.0, 21.8, 15.4, 12.9, 9.7],
    'rpg' : [ 7.7, 7.9, 3.5, 6.1, 2.7],
    'apg' : [7.8, 3.1, 5.8, 1.9, 1.9]
}

In [24]:
unsorted_df = pd.DataFrame(laker_stats, index=[1,4,6,2,3])

In [25]:
unsorted_df

   first_name      last_name   mpg   ppg  rpg  apg
1      Lebron          James  33.4  25.0  7.7  7.8
4     Anthony          Davis  32.3  21.8  7.9  3.1
6      Dennis       Schroder  32.1  15.4  3.5  5.8
2        Kyle          Kuzma  28.7  12.9  6.1  1.9
3  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

In [27]:
sorted_df = unsorted_df.sort_index()

In [28]:
sorted_df

   first_name      last_name   mpg   ppg  rpg  apg
1      Lebron          James  33.4  25.0  7.7  7.8
2        Kyle          Kuzma  28.7  12.9  6.1  1.9
3  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9
4     Anthony          Davis  32.3  21.8  7.9  3.1
6      Dennis       Schroder  32.1  15.4  3.5  5.8

In [34]:
sorted_pts_df = sorted_df.sort_values('ppg')

In [35]:
sorted_pts_df

   first_name      last_name   mpg   ppg  rpg  apg
3  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9
2        Kyle          Kuzma  28.7  12.9  6.1  1.9
6      Dennis       Schroder  32.1  15.4  3.5  5.8
4     Anthony          Davis  32.3  21.8  7.9  3.1
1      Lebron          James  33.4  25.0  7.7  7.8

In [32]:
sorted_pts_df = sorted_df.sort_values('ppg', ascending=False)

In [33]:
sorted_pts_df

   first_name      last_name   mpg   ppg  rpg  apg
1      Lebron          James  33.4  25.0  7.7  7.8
4     Anthony          Davis  32.3  21.8  7.9  3.1
6      Dennis       Schroder  32.1  15.4  3.5  5.8
2        Kyle          Kuzma  28.7  12.9  6.1  1.9
3  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

In [42]:
laker_stats = {
    'first_name': ['Lebron', 'Anthony', 'Dennis', 'Kyle', 'Kentavious'],
    'last_name' : ['James', 'Davis', 'Schroder', 'Kuzma', 'Caldwell-Pope'],
    'mpg' : [33.4, 32.3, 32.1, 28.7, 28.4],
    'ppg' : [25.0, 21.8, 15.4, np.nan, np.nan],
    'rpg' : [ 7.7, 7.9, 3.5, 6.1, 2.7],
    'apg' : [7.8, 3.1, 5.8, 1.9, 1.9]
}

In [43]:
df_missing = pd.DataFrame(laker_stats)

In [44]:
#This places the missing values at the top 
sort_by_points = df_missing.sort_values('ppg', ascending = False, na_position='first')

In [45]:
sort_by_points

   first_name      last_name   mpg   ppg  rpg  apg
3        Kyle          Kuzma  28.7   NaN  6.1  1.9
4  Kentavious  Caldwell-Pope  28.4   NaN  2.7  1.9
0      Lebron          James  33.4  25.0  7.7  7.8
1     Anthony          Davis  32.3  21.8  7.9  3.1
2      Dennis       Schroder  32.1  15.4  3.5  5.8

In [46]:
# Sorting DF on values of multiple columns.  use a list to do this

In [52]:
laker_stats = {
    'first_name': ['Lebron', 'Anthony', 'Dennis', 'Kyle', 'Kentavious'],
    'last_name' : ['James', 'Davis', 'Schroder', 'Kuzma', 'Caldwell-Pope'],
    'mpg' : [33.4, 32.3, 32.1, 28.7, 28.4],
    'ppg' : [25.0, 21.8, 21.8, 12.9, 9.7],
    'rpg' : [ 7.7, 7.9, 3.5, 6.1, 2.7],
    'apg' : [7.8, 3.1, 5.8, 1.9, 1.9]
}

In [53]:
df = pd.DataFrame(laker_stats)

In [54]:
sort_by_two_cols = df.sort_values(['ppg', 'apg'], ascending = False)

In [55]:
sort_by_two_cols

   first_name      last_name   mpg   ppg  rpg  apg
0      Lebron          James  33.4  25.0  7.7  7.8
2      Dennis       Schroder  32.1  21.8  3.5  5.8
1     Anthony          Davis  32.3  21.8  7.9  3.1
3        Kyle          Kuzma  28.7  12.9  6.1  1.9
4  Kentavious  Caldwell-Pope  28.4   9.7  2.7  1.9

# Filtering Dataframes

In [3]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/nba_season_stats.csv')

In [4]:
df.sample(5)

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
274,Justin Jackson,22,SAC,68,41,1506,185,419,0.442,57,...,0.722,27,160,187,74,28,13,40,81,453
222,Aaron Harrison,23,DAL,9,3,233,19,69,0.275,9,...,0.765,4,20,24,11,9,2,3,27,60
548,Rashad Vaughn,21,MIL,22,0,173,21,50,0.420,13,...,0.667,2,15,17,12,4,3,4,12,59
211,Daniel Hamilton,22,OKC,6,0,28,5,11,0.455,2,...,NaN,0,5,5,8,1,0,2,2,12
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771

In [5]:
df['Tm'] == 'OKC'

0       True
1      False
2       True
3      False
4      False
       ...
600    False
601    False
602    False
603    False
604    False
Name: Tm, Length: 605, dtype: bool

In [59]:
okc_df = df[df['Tm'] == 'OKC']

In [60]:
okc_df

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
116,Nick Collison,37,OKC,15,0,75,13,19,0.684,0,...,0.385,7,13,20,4,0,0,7,7,31
150,PJ Dozier,21,OKC,2,0,3,1,2,0.500,0,...,NaN,0,1,1,0,0,0,1,1,2
175,Raymond Felton,33,OKC,82,2,1365,224,552,0.406,81,...,0.818,25,131,156,203,49,16,76,91,565
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
201,Jerami Grant,23,OKC,81,1,1647,244,456,0.535,32,...,0.675,86,233,319,57,31,77,54,155,682
211,Daniel Hamilton,22,OKC,6,0,28,5,11,0.455,2,...,NaN,0,5,5,8,1,0,2,2,12
256,Josh Huestis,26,OKC,69,10,982,60,182,0.330,33,...,0.300,42,119,161,20,15,43,26,82,159
286,Dakari Johnson,22,OKC,31,6,161,22,39,0.564,0,...,0.550,16,18,34,8,6,8,3,27,55
441,Patrick Patterson,28,OKC,82,3,1270,106,266,0.398,66,...,0.870,32,161,193,57,48,23,33,87,318
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
507,Kyle Singler,29,OKC,12,0,59,7,21,0.333,2,...,0.538,1,9,10,2,1,0,3,4,23
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028

In [61]:
okc = df['Tm'] == 'OKC'

In [62]:
df[okc]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
116,Nick Collison,37,OKC,15,0,75,13,19,0.684,0,...,0.385,7,13,20,4,0,0,7,7,31
150,PJ Dozier,21,OKC,2,0,3,1,2,0.500,0,...,NaN,0,1,1,0,0,0,1,1,2
175,Raymond Felton,33,OKC,82,2,1365,224,552,0.406,81,...,0.818,25,131,156,203,49,16,76,91,565
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
201,Jerami Grant,23,OKC,81,1,1647,244,456,0.535,32,...,0.675,86,233,319,57,31,77,54,155,682
211,Daniel Hamilton,22,OKC,6,0,28,5,11,0.455,2,...,NaN,0,5,5,8,1,0,2,2,12
256,Josh Huestis,26,OKC,69,10,982,60,182,0.330,33,...,0.300,42,119,161,20,15,43,26,82,159
286,Dakari Johnson,22,OKC,31,6,161,22,39,0.564,0,...,0.550,16,18,34,8,6,8,3,27,55
441,Patrick Patterson,28,OKC,82,3,1270,106,266,0.398,66,...,0.870,32,161,193,57,48,23,33,87,318
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
507,Kyle Singler,29,OKC,12,0,59,7,21,0.333,2,...,0.538,1,9,10,2,1,0,3,4,23
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028

In [63]:
# Finding all players that are on OKC or Lakers

In [71]:
dual_df = df[(df['Tm'] == 'OKC') | (df['Tm'] == 'LAL')]

In [72]:
dual_df

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
116,Nick Collison,37,OKC,15,0,75,13,19,0.684,0,...,0.385,7,13,20,4,0,0,7,7,31
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
150,PJ Dozier,21,OKC,2,0,3,1,2,0.500,0,...,NaN,0,1,1,0,0,0,1,1,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
175,Raymond Felton,33,OKC,82,2,1365,224,552,0.406,81,...,0.818,25,131,156,203,49,16,76,91,565
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
201,Jerami Grant,23,OKC,81,1,1647,244,456,0.535,32,...,0.675,86,233,319,57,31,77,54,155,682
211,Daniel Hamilton,22,OKC,6,0,28,5,11,0.455,2,...,NaN,0,5,5,8,1,0,2,2,12
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
256,Josh Huestis,26,OKC,69,10,982,60,182,0.330,33,...,0.300,42,119,161,20,15,43,26,82,159
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
286,Dakari Johnson,22,OKC,31,6,161,22,39,0.564,0,...,0.550,16,18,34,8,6,8,3,27,55
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
441,Patrick Patterson,28,OKC,82,3,1270,106,266,0.398,66,...,0.870,32,161,193,57,48,23,33,87,318
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
507,Kyle Singler,29,OKC,12,0,59,7,21,0.333,2,...,0.538,1,9,10,2,1,0,3,4,23
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [20]:
okc = (df['Tm'] == 'OKC')

In [21]:
lal = (df['Tm'] == 'LAL')

In [78]:
df_dual = df[okc | lal]

In [79]:
df_dual

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
116,Nick Collison,37,OKC,15,0,75,13,19,0.684,0,...,0.385,7,13,20,4,0,0,7,7,31
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
150,PJ Dozier,21,OKC,2,0,3,1,2,0.500,0,...,NaN,0,1,1,0,0,0,1,1,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
175,Raymond Felton,33,OKC,82,2,1365,224,552,0.406,81,...,0.818,25,131,156,203,49,16,76,91,565
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
201,Jerami Grant,23,OKC,81,1,1647,244,456,0.535,32,...,0.675,86,233,319,57,31,77,54,155,682
211,Daniel Hamilton,22,OKC,6,0,28,5,11,0.455,2,...,NaN,0,5,5,8,1,0,2,2,12
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
256,Josh Huestis,26,OKC,69,10,982,60,182,0.330,33,...,0.300,42,119,161,20,15,43,26,82,159
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
286,Dakari Johnson,22,OKC,31,6,161,22,39,0.564,0,...,0.550,16,18,34,8,6,8,3,27,55
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
441,Patrick Patterson,28,OKC,82,3,1270,106,266,0.398,66,...,0.870,32,161,193,57,48,23,33,87,318
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
507,Kyle Singler,29,OKC,12,0,59,7,21,0.333,2,...,0.538,1,9,10,2,1,0,3,4,23
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [80]:
df[(df['Tm'] == 'OKC') & (df['GS'] > 10)]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028

In [8]:
okc = df['Tm'] == 'OKC'

In [9]:
gs = df['GS'] > 10

In [10]:
and_df = df[okc & gs]

In [11]:
and_df

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028

In [12]:
fg_pct = df['FG%'] >= .50

In [14]:
threep_pct = df['3P%'] >= .40

In [15]:
ft_pct = df['FT%'] >= .9

In [16]:
fif_fort_nin_club = df[fg_pct & threep_pct & ft_pct]

In [17]:
fif_fort_nin_club

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
111,Antonius Cleveland,23,ATL,4,0,42,4,7,0.571,3,...,1.0,1,3,4,0,1,1,5,12,13
519,David Stockton,26,UTA,3,0,9,2,3,0.667,2,...,1.0,0,0,0,0,0,0,1,3,10

In [18]:
#And or operator

In [19]:
gs = df['GS'] >10

In [22]:
df[(okc | lal) & gs]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
70,Corey Brewer,31,OKC,18,16,514,64,144,0.444,23,...,0.795,20,41,61,24,38,6,11,56,182
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
176,Terrance Ferguson,19,OKC,61,12,763,70,169,0.414,40,...,0.900,19,28,47,19,24,10,11,83,189
191,Paul George,27,OKC,79,79,2891,576,1340,0.430,244,...,0.822,72,375,447,263,161,39,212,233,1734
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
481,Andre Roberson,26,OKC,39,39,1037,87,162,0.537,8,...,0.316,75,110,185,46,45,35,30,89,194
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028

In [23]:
# is in method; .isin([list])

In [24]:
df['Tm'].isin(['OKC', 'LAL', 'CHI'])

0       True
1      False
2       True
3      False
4      False
       ...
600    False
601    False
602     True
603    False
604     True
Name: Tm, Length: 605, dtype: bool

In [25]:
#Checks to see which players play for okc, lal, and chi
df[df['Tm'].isin(['OKC', 'LAL', 'CHI'])]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
18,Ryan Arcidiacono,23,CHI,24,0,304,17,41,0.415,9,...,0.833,1,24,25,35,13,0,13,18,48
23,Omer Asik,31,CHI,4,0,61,2,6,0.333,0,...,0.000,2,8,10,1,1,2,4,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
602,Paul Zipser,23,CHI,54,12,824,81,234,0.346,37,...,0.760,13,118,131,46,20,15,43,86,218
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [26]:
python_list = ['OKC', 'LAL', 'CHI']

In [27]:
df[df['Tm'].isin(python_list)]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
18,Ryan Arcidiacono,23,CHI,24,0,304,17,41,0.415,9,...,0.833,1,24,25,35,13,0,13,18,48
23,Omer Asik,31,CHI,4,0,61,2,6,0.333,0,...,0.000,2,8,10,1,1,2,4,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
602,Paul Zipser,23,CHI,54,12,824,81,234,0.346,37,...,0.760,13,118,131,46,20,15,43,86,218
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

# Group by

In [31]:
df1 = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_general_traditional_per_game_data.csv')
df2 = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/nba_season_stats.csv')

In [32]:
grouped = df2.groupby('Tm')

In [34]:
grouped['Age'].mean().sort_values(ascending = False)

Tm
CLE    29.000000
NOP    28.086957
SAS    28.058824
HOU    28.000000
GSW    28.000000
WAS    27.133333
MIN    27.000000
OKC    26.705882
DAL    26.652174
LAC    26.571429
MIA    26.421053
DET    26.318182
UTA    26.238095
MIL    26.000000
NYK    25.857143
IND    25.842105
DEN    25.833333
SAC    25.777778
ATL    25.500000
LAL    25.500000
CHO    25.470588
MEM    25.458333
BOS    25.400000
PHI    25.304348
ORL    25.263158
BRK    25.227273
TOR    24.833333
CHI    24.619048
PHO    24.363636
POR    24.125000
Name: Age, dtype: float64

In [35]:
#Flow for previous... 1st: group everything by team, 2nd mean age, 3rd sort values by descending

In [36]:
lakers = grouped.get_group('LAL')

In [37]:
lakers

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [38]:
seasons = df.groupby('season_id')

In [40]:
seasons['pts'].sum()

season_id
1996-97    3539.5
1997-98    3489.0
1998-99    3231.7
1999-00    3500.2
2000-01    3444.8
2001-02    3512.4
2002-03    3359.5
2003-04    3423.5
2004-05    3752.9
2005-06    3656.0
2006-07    3759.6
2007-08    3728.5
2008-09    3784.2
2009-10    3788.7
2010-11    3709.2
2011-12    3790.0
2012-13    3732.3
2013-14    3899.5
2014-15    3996.3
2015-16    3974.3
2016-17    4095.4
2017-18    4406.6
2018-19    4565.2
Name: pts, dtype: float64

In [45]:
seasons['pts', 'ast'].sum()
#if more using a lot of columns then convert to list. EX: seasons[['pts', 'ast', 'reb', 'stl']].sum()

<ipython-input-45-3fdec3ea3571>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  seasons['pts', 'ast'].sum()

              pts     ast
season_id
1996-97    3539.5   803.1
1997-98    3489.0   798.9
1998-99    3231.7   726.3
1999-00    3500.2   811.8
2000-01    3444.8   804.2
2001-02    3512.4   810.1
2002-03    3359.5   763.1
2003-04    3423.5   777.3
2004-05    3752.9   823.2
2005-06    3656.0   773.6
2006-07    3759.6   808.9
2007-08    3728.5   820.3
2008-09    3784.2   788.5
2009-10    3788.7   797.8
2010-11    3709.2   799.0
2011-12    3790.0   834.7
2012-13    3732.3   848.2
2013-14    3899.5   858.2
2014-15    3996.3   895.2
2015-16    3974.3   869.3
2016-17    4095.4   889.5
2017-18    4406.6   981.5
2018-19    4565.2  1018.4

In [46]:
seasons['fg3m'].describe()

           count      mean       std  min    25%  50%    75%  max
season_id
1996-97    441.0  0.492517  0.641563  0.0  0.000  0.2  0.800  2.8
1997-98    439.0  0.358314  0.511527  0.0  0.000  0.1  0.600  2.3
1998-99    440.0  0.353182  0.525859  0.0  0.000  0.1  0.525  2.8
1999-00    439.0  0.389977  0.522891  0.0  0.000  0.1  0.700  2.2
2000-01    441.0  0.391383  0.539080  0.0  0.000  0.1  0.700  2.7
2001-02    440.0  0.422500  0.592334  0.0  0.000  0.1  0.800  3.3
2002-03    428.0  0.413785  0.574413  0.0  0.000  0.1  0.700  2.6
2003-04    442.0  0.420588  0.584809  0.0  0.000  0.1  0.700  3.0
2004-05    464.0  0.458405  0.622590  0.0  0.000  0.2  0.700  2.9
2005-06    458.0  0.460480  0.621417  0.0  0.000  0.1  0.800  3.4
2006-07    458.0  0.500873  0.646789  0.0  0.000  0.2  0.900  3.0
2007-08    451.0  0.538137  0.650921  0.0  0.000  0.3  0.900  3.0
2008-09    445.0  0.556629  0.657104  0.0  0.000  0.3  1.000  2.8
2009-10    442.0  0.550226  0.626666  0.0  0.000  0.3  1.000  2.5
2010-11    452.0  0.529867  0.621576  0.0  0.000  0.3  1.000  2.4
2011-12    478.0  0.534519  0.616782  0.0  0.000  0.3  0.900  2.7
2012-13    469.0  0.580171  0.668436  0.0  0.000  0.3  1.000  3.5
2013-14    482.0  0.623859  0.688781  0.0  0.000  0.4  1.000  3.3
2014-15    492.0  0.646748  0.672511  0.0  0.000  0.5  1.025  3.6
2015-16    476.0  0.688025  0.713570  0.0  0.100  0.5  1.100  5.1
2016-17    486.0  0.768107  0.755537  0.0  0.125  0.6  1.200  4.1
2017-18    540.0  0.811481  0.791618  0.0  0.100  0.6  1.300  4.2
2018-19    530.0  0.876604  0.805311  0.0  0.200  0.7  1.300  5.1

In [48]:
df_3p_by_season = seasons['fg3m'].sum()
df_3p_by_season.sort_values()

season_id
1998-99    155.4
1997-98    157.3
1999-00    171.2
2000-01    172.6
2002-03    177.1
2003-04    185.9
2001-02    185.9
2005-06    210.9
2004-05    212.7
1996-97    217.2
2006-07    229.4
2010-11    239.5
2007-08    242.7
2009-10    243.2
2008-09    247.7
2011-12    255.5
2012-13    272.1
2013-14    300.7
2014-15    318.2
2015-16    327.5
2016-17    373.3
2017-18    438.2
2018-19    464.6
Name: fg3m, dtype: float64

In [50]:
#aggregation
seasons.agg({
    'pts': 'sum',
    'ast': 'mean'
})

              pts       ast
season_id
1996-97    3539.5  1.821088
1997-98    3489.0  1.819818
1998-99    3231.7  1.650682
1999-00    3500.2  1.849203
2000-01    3444.8  1.823583
2001-02    3512.4  1.841136
2002-03    3359.5  1.782944
2003-04    3423.5  1.758597
2004-05    3752.9  1.774138
2005-06    3656.0  1.689083
2006-07    3759.6  1.766157
2007-08    3728.5  1.818847
2008-09    3784.2  1.771910
2009-10    3788.7  1.804977
2010-11    3709.2  1.767699
2011-12    3790.0  1.746234
2012-13    3732.3  1.808529
2013-14    3899.5  1.780498
2014-15    3996.3  1.819512
2015-16    3974.3  1.826261
2016-17    4095.4  1.830247
2017-18    4406.6  1.817593
2018-19    4565.2  1.921509

# Merging DataFrames

In [52]:
df_A = df.sample(10)

In [53]:
df_B = df.sample(10)

In [54]:
df_A

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10518,1628959,2018-19,10.0,21.0,12.0,1.3,3.9,0.333,0.3,1.2,...,0.8,1.2,0.667,1.1,1.5,1.3,0.8,0.1,0.0,3.7
4867,1731,2006-07,56.0,30.0,26.6,3.9,9.4,0.416,1.0,2.9,...,2.6,2.9,0.883,0.3,1.5,3.6,1.5,0.4,0.0,11.4
2042,761,2000-01,35.0,31.0,15.5,2.5,6.4,0.393,0.0,0.1,...,1.1,1.5,0.685,1.4,2.5,0.4,0.7,0.3,0.2,6.1
8253,203961,2014-15,3.0,23.0,0.7,0.3,0.3,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.3,0.0,0.0,0.0,0.0,0.7
6615,2742,2010-11,37.0,26.0,19.2,2.6,6.5,0.402,0.8,2.1,...,1.2,1.6,0.733,0.5,1.0,3.0,1.7,0.7,0.1,7.2
4669,101235,2006-07,41.0,23.0,16.3,2.4,5.4,0.445,0.8,1.9,...,1.5,1.9,0.782,0.6,1.7,0.7,1.0,0.5,0.2,7.1
9426,1627852,2016-17,54.0,24.0,9.7,1.0,2.6,0.369,0.5,1.8,...,0.3,0.4,0.773,0.5,1.3,0.9,0.5,0.3,0.1,2.8
10499,201956,2018-19,36.0,30.0,14.5,2.4,4.5,0.534,0.4,1.2,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
9057,203898,2015-16,46.0,21.0,14.2,1.8,4.1,0.449,0.3,0.8,...,0.5,0.7,0.735,0.3,1.3,2.1,1.0,0.5,0.0,4.5
646,147,1997-98,82.0,25.0,20.8,3.5,7.4,0.478,0.3,0.9,...,2.0,2.8,0.728,0.3,2.0,1.9,1.6,0.7,0.2,9.4

In [55]:
df_B

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
3559,2564,2004-05,66.0,23.0,18.1,1.9,4.5,0.422,0.1,0.8,...,0.9,1.2,0.740,0.8,1.8,2.3,1.3,0.6,0.3,4.8
8710,202326,2015-16,65.0,25.0,34.6,9.2,20.5,0.451,1.1,3.2,...,7.3,10.2,0.718,2.4,9.1,3.3,3.8,1.6,1.4,26.9
1792,1884,2000-01,82.0,22.0,38.9,5.0,11.7,0.427,1.0,3.3,...,2.8,4.1,0.677,1.6,3.4,7.3,2.8,2.1,0.4,13.8
1926,45,2000-01,76.0,34.0,26.4,3.3,8.6,0.382,1.0,3.1,...,2.0,2.4,0.840,0.7,2.2,3.7,1.5,0.7,0.4,9.6
10169,101112,2018-19,36.0,35.0,9.5,1.2,3.3,0.368,0.9,2.2,...,0.3,0.4,0.786,0.1,1.3,0.6,0.4,0.2,0.1,3.6
10120,203083,2018-19,79.0,25.0,33.5,7.1,13.3,0.533,0.1,0.5,...,3.1,5.2,0.590,5.4,10.2,1.4,2.2,1.7,1.7,17.3
9639,203469,2017-18,33.0,25.0,19.0,2.6,4.7,0.545,0.1,0.1,...,1.8,2.6,0.718,2.0,3.3,0.9,1.0,0.4,0.6,7.1
7310,202323,2012-13,82.0,24.0,35.3,5.4,12.8,0.419,0.7,1.9,...,1.9,2.5,0.740,0.7,5.6,4.3,2.3,0.9,0.2,13.3
6819,2730,2011-12,54.0,26.0,38.3,7.7,13.4,0.573,0.0,0.1,...,5.2,10.6,0.491,3.7,10.8,1.9,3.2,1.5,2.1,20.6
648,1530,1997-98,23.0,24.0,4.4,0.9,2.4,0.382,0.4,0.9,...,0.3,0.6,0.571,0.3,0.3,0.1,0.3,0.3,0.1,2.6

In [57]:
#Same column names and amount of columns makes it straight forward
pd.concat([df_A, df_B])

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10518,1628959,2018-19,10.0,21.0,12.0,1.3,3.9,0.333,0.3,1.2,...,0.8,1.2,0.667,1.1,1.5,1.3,0.8,0.1,0.0,3.7
4867,1731,2006-07,56.0,30.0,26.6,3.9,9.4,0.416,1.0,2.9,...,2.6,2.9,0.883,0.3,1.5,3.6,1.5,0.4,0.0,11.4
2042,761,2000-01,35.0,31.0,15.5,2.5,6.4,0.393,0.0,0.1,...,1.1,1.5,0.685,1.4,2.5,0.4,0.7,0.3,0.2,6.1
8253,203961,2014-15,3.0,23.0,0.7,0.3,0.3,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.3,0.0,0.0,0.0,0.0,0.7
6615,2742,2010-11,37.0,26.0,19.2,2.6,6.5,0.402,0.8,2.1,...,1.2,1.6,0.733,0.5,1.0,3.0,1.7,0.7,0.1,7.2
4669,101235,2006-07,41.0,23.0,16.3,2.4,5.4,0.445,0.8,1.9,...,1.5,1.9,0.782,0.6,1.7,0.7,1.0,0.5,0.2,7.1
9426,1627852,2016-17,54.0,24.0,9.7,1.0,2.6,0.369,0.5,1.8,...,0.3,0.4,0.773,0.5,1.3,0.9,0.5,0.3,0.1,2.8
10499,201956,2018-19,36.0,30.0,14.5,2.4,4.5,0.534,0.4,1.2,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
9057,203898,2015-16,46.0,21.0,14.2,1.8,4.1,0.449,0.3,0.8,...,0.5,0.7,0.735,0.3,1.3,2.1,1.0,0.5,0.0,4.5
646,147,1997-98,82.0,25.0,20.8,3.5,7.4,0.478,0.3,0.9,...,2.0,2.8,0.728,0.3,2.0,1.9,1.6,0.7,0.2,9.4
3559,2564,2004-05,66.0,23.0,18.1,1.9,4.5,0.422,0.1,0.8,...,0.9,1.2,0.740,0.8,1.8,2.3,1.3,0.6,0.3,4.8
8710,202326,2015-16,65.0,25.0,34.6,9.2,20.5,0.451,1.1,3.2,...,7.3,10.2,0.718,2.4,9.1,3.3,3.8,1.6,1.4,26.9
1792,1884,2000-01,82.0,22.0,38.9,5.0,11.7,0.427,1.0,3.3,...,2.8,4.1,0.677,1.6,3.4,7.3,2.8,2.1,0.4,13.8
1926,45,2000-01,76.0,34.0,26.4,3.3,8.6,0.382,1.0,3.1,...,2.0,2.4,0.840,0.7,2.2,3.7,1.5,0.7,0.4,9.6
10169,101112,2018-19,36.0,35.0,9.5,1.2,3.3,0.368,0.9,2.2,...,0.3,0.4,0.786,0.1,1.3,0.6,0.4,0.2,0.1,3.6
10120,203083,2018-19,79.0,25.0,33.5,7.1,13.3,0.533,0.1,0.5,...,3.1,5.2,0.590,5.4,10.2,1.4,2.2,1.7,1.7,17.3
9639,203469,2017-18,33.0,25.0,19.0,2.6,4.7,0.545,0.1,0.1,...,1.8,2.6,0.718,2.0,3.3,0.9,1.0,0.4,0.6,7.1
7310,202323,2012-13,82.0,24.0,35.3,5.4,12.8,0.419,0.7,1.9,...,1.9,2.5,0.740,0.7,5.6,4.3,2.3,0.9,0.2,13.3
6819,2730,2011-12,54.0,26.0,38.3,7.7,13.4,0.573,0.0,0.1,...,5.2,10.6,0.491,3.7,10.8,1.9,3.2,1.5,2.1,20.6
648,1530,1997-98,23.0,24.0,4.4,0.9,2.4,0.382,0.4,0.9,...,0.3,0.6,0.571,0.3,0.3,0.1,0.3,0.3,0.1,2.6

In [58]:
#fresh index

In [59]:
df_new= pd.concat([df_A, df_B], ignore_index=True)
df_new

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,1628959,2018-19,10.0,21.0,12.0,1.3,3.9,0.333,0.3,1.2,...,0.8,1.2,0.667,1.1,1.5,1.3,0.8,0.1,0.0,3.7
1,1731,2006-07,56.0,30.0,26.6,3.9,9.4,0.416,1.0,2.9,...,2.6,2.9,0.883,0.3,1.5,3.6,1.5,0.4,0.0,11.4
2,761,2000-01,35.0,31.0,15.5,2.5,6.4,0.393,0.0,0.1,...,1.1,1.5,0.685,1.4,2.5,0.4,0.7,0.3,0.2,6.1
3,203961,2014-15,3.0,23.0,0.7,0.3,0.3,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.3,0.0,0.0,0.0,0.0,0.7
4,2742,2010-11,37.0,26.0,19.2,2.6,6.5,0.402,0.8,2.1,...,1.2,1.6,0.733,0.5,1.0,3.0,1.7,0.7,0.1,7.2
5,101235,2006-07,41.0,23.0,16.3,2.4,5.4,0.445,0.8,1.9,...,1.5,1.9,0.782,0.6,1.7,0.7,1.0,0.5,0.2,7.1
6,1627852,2016-17,54.0,24.0,9.7,1.0,2.6,0.369,0.5,1.8,...,0.3,0.4,0.773,0.5,1.3,0.9,0.5,0.3,0.1,2.8
7,201956,2018-19,36.0,30.0,14.5,2.4,4.5,0.534,0.4,1.2,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
8,203898,2015-16,46.0,21.0,14.2,1.8,4.1,0.449,0.3,0.8,...,0.5,0.7,0.735,0.3,1.3,2.1,1.0,0.5,0.0,4.5
9,147,1997-98,82.0,25.0,20.8,3.5,7.4,0.478,0.3,0.9,...,2.0,2.8,0.728,0.3,2.0,1.9,1.6,0.7,0.2,9.4
10,2564,2004-05,66.0,23.0,18.1,1.9,4.5,0.422,0.1,0.8,...,0.9,1.2,0.740,0.8,1.8,2.3,1.3,0.6,0.3,4.8
11,202326,2015-16,65.0,25.0,34.6,9.2,20.5,0.451,1.1,3.2,...,7.3,10.2,0.718,2.4,9.1,3.3,3.8,1.6,1.4,26.9
12,1884,2000-01,82.0,22.0,38.9,5.0,11.7,0.427,1.0,3.3,...,2.8,4.1,0.677,1.6,3.4,7.3,2.8,2.1,0.4,13.8
13,45,2000-01,76.0,34.0,26.4,3.3,8.6,0.382,1.0,3.1,...,2.0,2.4,0.840,0.7,2.2,3.7,1.5,0.7,0.4,9.6
14,101112,2018-19,36.0,35.0,9.5,1.2,3.3,0.368,0.9,2.2,...,0.3,0.4,0.786,0.1,1.3,0.6,0.4,0.2,0.1,3.6
15,203083,2018-19,79.0,25.0,33.5,7.1,13.3,0.533,0.1,0.5,...,3.1,5.2,0.590,5.4,10.2,1.4,2.2,1.7,1.7,17.3
16,203469,2017-18,33.0,25.0,19.0,2.6,4.7,0.545,0.1,0.1,...,1.8,2.6,0.718,2.0,3.3,0.9,1.0,0.4,0.6,7.1
17,202323,2012-13,82.0,24.0,35.3,5.4,12.8,0.419,0.7,1.9,...,1.9,2.5,0.740,0.7,5.6,4.3,2.3,0.9,0.2,13.3
18,2730,2011-12,54.0,26.0,38.3,7.7,13.4,0.573,0.0,0.1,...,5.2,10.6,0.491,3.7,10.8,1.9,3.2,1.5,2.1,20.6
19,1530,1997-98,23.0,24.0,4.4,0.9,2.4,0.382,0.4,0.9,...,0.3,0.6,0.571,0.3,0.3,0.1,0.3,0.3,0.1,2.6

In [60]:
#Append
df_A.append(df_B)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
10518,1628959,2018-19,10.0,21.0,12.0,1.3,3.9,0.333,0.3,1.2,...,0.8,1.2,0.667,1.1,1.5,1.3,0.8,0.1,0.0,3.7
4867,1731,2006-07,56.0,30.0,26.6,3.9,9.4,0.416,1.0,2.9,...,2.6,2.9,0.883,0.3,1.5,3.6,1.5,0.4,0.0,11.4
2042,761,2000-01,35.0,31.0,15.5,2.5,6.4,0.393,0.0,0.1,...,1.1,1.5,0.685,1.4,2.5,0.4,0.7,0.3,0.2,6.1
8253,203961,2014-15,3.0,23.0,0.7,0.3,0.3,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.3,0.0,0.0,0.0,0.0,0.7
6615,2742,2010-11,37.0,26.0,19.2,2.6,6.5,0.402,0.8,2.1,...,1.2,1.6,0.733,0.5,1.0,3.0,1.7,0.7,0.1,7.2
4669,101235,2006-07,41.0,23.0,16.3,2.4,5.4,0.445,0.8,1.9,...,1.5,1.9,0.782,0.6,1.7,0.7,1.0,0.5,0.2,7.1
9426,1627852,2016-17,54.0,24.0,9.7,1.0,2.6,0.369,0.5,1.8,...,0.3,0.4,0.773,0.5,1.3,0.9,0.5,0.3,0.1,2.8
10499,201956,2018-19,36.0,30.0,14.5,2.4,4.5,0.534,0.4,1.2,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
9057,203898,2015-16,46.0,21.0,14.2,1.8,4.1,0.449,0.3,0.8,...,0.5,0.7,0.735,0.3,1.3,2.1,1.0,0.5,0.0,4.5
646,147,1997-98,82.0,25.0,20.8,3.5,7.4,0.478,0.3,0.9,...,2.0,2.8,0.728,0.3,2.0,1.9,1.6,0.7,0.2,9.4
3559,2564,2004-05,66.0,23.0,18.1,1.9,4.5,0.422,0.1,0.8,...,0.9,1.2,0.740,0.8,1.8,2.3,1.3,0.6,0.3,4.8
8710,202326,2015-16,65.0,25.0,34.6,9.2,20.5,0.451,1.1,3.2,...,7.3,10.2,0.718,2.4,9.1,3.3,3.8,1.6,1.4,26.9
1792,1884,2000-01,82.0,22.0,38.9,5.0,11.7,0.427,1.0,3.3,...,2.8,4.1,0.677,1.6,3.4,7.3,2.8,2.1,0.4,13.8
1926,45,2000-01,76.0,34.0,26.4,3.3,8.6,0.382,1.0,3.1,...,2.0,2.4,0.840,0.7,2.2,3.7,1.5,0.7,0.4,9.6
10169,101112,2018-19,36.0,35.0,9.5,1.2,3.3,0.368,0.9,2.2,...,0.3,0.4,0.786,0.1,1.3,0.6,0.4,0.2,0.1,3.6
10120,203083,2018-19,79.0,25.0,33.5,7.1,13.3,0.533,0.1,0.5,...,3.1,5.2,0.590,5.4,10.2,1.4,2.2,1.7,1.7,17.3
9639,203469,2017-18,33.0,25.0,19.0,2.6,4.7,0.545,0.1,0.1,...,1.8,2.6,0.718,2.0,3.3,0.9,1.0,0.4,0.6,7.1
7310,202323,2012-13,82.0,24.0,35.3,5.4,12.8,0.419,0.7,1.9,...,1.9,2.5,0.740,0.7,5.6,4.3,2.3,0.9,0.2,13.3
6819,2730,2011-12,54.0,26.0,38.3,7.7,13.4,0.573,0.0,0.1,...,5.2,10.6,0.491,3.7,10.8,1.9,3.2,1.5,2.1,20.6
648,1530,1997-98,23.0,24.0,4.4,0.9,2.4,0.382,0.4,0.9,...,0.3,0.6,0.571,0.3,0.3,0.1,0.3,0.3,0.1,2.6

In [61]:
df_new = df_A.append(df_B)
df_new.reset_index(drop=True)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,1628959,2018-19,10.0,21.0,12.0,1.3,3.9,0.333,0.3,1.2,...,0.8,1.2,0.667,1.1,1.5,1.3,0.8,0.1,0.0,3.7
1,1731,2006-07,56.0,30.0,26.6,3.9,9.4,0.416,1.0,2.9,...,2.6,2.9,0.883,0.3,1.5,3.6,1.5,0.4,0.0,11.4
2,761,2000-01,35.0,31.0,15.5,2.5,6.4,0.393,0.0,0.1,...,1.1,1.5,0.685,1.4,2.5,0.4,0.7,0.3,0.2,6.1
3,203961,2014-15,3.0,23.0,0.7,0.3,0.3,1.000,0.0,0.0,...,0.0,0.0,0.000,0.0,0.3,0.0,0.0,0.0,0.0,0.7
4,2742,2010-11,37.0,26.0,19.2,2.6,6.5,0.402,0.8,2.1,...,1.2,1.6,0.733,0.5,1.0,3.0,1.7,0.7,0.1,7.2
5,101235,2006-07,41.0,23.0,16.3,2.4,5.4,0.445,0.8,1.9,...,1.5,1.9,0.782,0.6,1.7,0.7,1.0,0.5,0.2,7.1
6,1627852,2016-17,54.0,24.0,9.7,1.0,2.6,0.369,0.5,1.8,...,0.3,0.4,0.773,0.5,1.3,0.9,0.5,0.3,0.1,2.8
7,201956,2018-19,36.0,30.0,14.5,2.4,4.5,0.534,0.4,1.2,...,1.1,1.6,0.672,0.5,2.7,0.7,0.6,0.6,0.3,6.3
8,203898,2015-16,46.0,21.0,14.2,1.8,4.1,0.449,0.3,0.8,...,0.5,0.7,0.735,0.3,1.3,2.1,1.0,0.5,0.0,4.5
9,147,1997-98,82.0,25.0,20.8,3.5,7.4,0.478,0.3,0.9,...,2.0,2.8,0.728,0.3,2.0,1.9,1.6,0.7,0.2,9.4
10,2564,2004-05,66.0,23.0,18.1,1.9,4.5,0.422,0.1,0.8,...,0.9,1.2,0.740,0.8,1.8,2.3,1.3,0.6,0.3,4.8
11,202326,2015-16,65.0,25.0,34.6,9.2,20.5,0.451,1.1,3.2,...,7.3,10.2,0.718,2.4,9.1,3.3,3.8,1.6,1.4,26.9
12,1884,2000-01,82.0,22.0,38.9,5.0,11.7,0.427,1.0,3.3,...,2.8,4.1,0.677,1.6,3.4,7.3,2.8,2.1,0.4,13.8
13,45,2000-01,76.0,34.0,26.4,3.3,8.6,0.382,1.0,3.1,...,2.0,2.4,0.840,0.7,2.2,3.7,1.5,0.7,0.4,9.6
14,101112,2018-19,36.0,35.0,9.5,1.2,3.3,0.368,0.9,2.2,...,0.3,0.4,0.786,0.1,1.3,0.6,0.4,0.2,0.1,3.6
15,203083,2018-19,79.0,25.0,33.5,7.1,13.3,0.533,0.1,0.5,...,3.1,5.2,0.590,5.4,10.2,1.4,2.2,1.7,1.7,17.3
16,203469,2017-18,33.0,25.0,19.0,2.6,4.7,0.545,0.1,0.1,...,1.8,2.6,0.718,2.0,3.3,0.9,1.0,0.4,0.6,7.1
17,202323,2012-13,82.0,24.0,35.3,5.4,12.8,0.419,0.7,1.9,...,1.9,2.5,0.740,0.7,5.6,4.3,2.3,0.9,0.2,13.3
18,2730,2011-12,54.0,26.0,38.3,7.7,13.4,0.573,0.0,0.1,...,5.2,10.6,0.491,3.7,10.8,1.9,3.2,1.5,2.1,20.6
19,1530,1997-98,23.0,24.0,4.4,0.9,2.4,0.382,0.4,0.9,...,0.3,0.6,0.571,0.3,0.3,0.1,0.3,0.3,0.1,2.6

# Merging and Joining

In [62]:
df1 = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_general_traditional_per_game_data.csv')
df2 = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_id_player_name.csv')

In [63]:
df1.head(5)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,471,1996-97,41.0,NaN,13.3,1.1,3.3,0.331,0.2,0.7,...,1.0,1.2,0.875,0.7,1.8,1.4,0.8,0.2,0.3,3.4
1,920,1996-97,83.0,33.0,30.8,2.8,5.8,0.483,0.0,0.2,...,1.5,2.4,0.650,2.7,5.2,0.8,0.9,0.8,0.2,7.2
2,243,1996-97,83.0,24.0,20.4,1.8,4.4,0.411,0.5,1.2,...,1.1,1.3,0.836,0.5,2.2,1.9,1.1,0.9,0.3,5.2
3,1425,1996-97,33.0,25.0,17.8,2.6,4.5,0.574,0.0,0.0,...,1.0,1.5,0.673,1.9,2.5,0.5,1.0,0.5,0.9,6.2
4,768,1996-97,47.0,27.0,11.1,1.4,3.8,0.374,0.0,0.1,...,1.1,1.8,0.643,0.7,1.3,0.4,0.7,0.3,0.6,4.0

In [64]:
df2.tail(5)

     player_id      player_name
481     201163  Wilson Chandler
482    1627812     Yogi Ferrell
483     203897      Zach LaVine
484       2216    Zach Randolph
485       2585    Zaza Pachulia

In [68]:
#use player_id to merge
merged_df = pd.merge(df1, df2, on='player_id')

In [69]:
merged_df.sample(10)

,player_id,season_id,gp,age,min,fgm,fga,fg_pct,fg3m,fg3a,...,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts,player_name
1883,202083,2011-12,66.0,25.0,33.8,4.8,11.6,0.412,2.0,5.1,...,2.6,0.860,0.8,2.5,1.7,1.1,1.5,0.2,13.7,Wesley Matthews
2726,203487,2015-16,54.0,24.0,30.5,4.6,10.3,0.452,0.3,1.0,...,3.0,0.663,0.9,4.2,5.2,2.8,1.5,0.8,11.5,Michael Carter-Williams
1675,201954,2018-19,76.0,31.0,28.2,4.1,8.7,0.467,1.0,2.6,...,2.5,0.832,0.5,2.6,6.0,1.6,1.4,0.1,11.2,Darren Collison
3140,1626159,2018-19,66.0,23.0,29.7,4.9,11.3,0.433,1.5,3.9,...,2.1,0.628,1.0,4.4,4.3,2.2,1.1,0.3,12.6,Justise Winslow
906,101179,2007-08,61.0,25.0,9.6,1.4,3.3,0.431,0.4,1.2,...,0.6,0.684,0.1,0.6,1.3,0.5,0.5,0.0,3.7,Ronnie Price
1938,202324,2013-14,73.0,22.0,30.2,5.3,10.2,0.522,0.0,0.0,...,3.9,0.669,2.7,6.0,1.2,1.8,1.0,1.5,13.3,Derrick Favors
651,2733,2009-10,36.0,24.0,22.1,2.9,5.6,0.517,0.0,0.2,...,1.3,0.875,0.4,1.7,3.6,1.6,0.5,0.3,6.9,Shaun Livingston
2945,203994,2017-18,79.0,23.0,26.4,6.1,12.0,0.505,0.0,0.1,...,3.5,0.630,2.4,6.6,1.8,2.3,0.8,1.4,14.3,Jusuf Nurkic
1724,201949,2010-11,38.0,24.0,21.6,2.8,6.2,0.456,0.2,0.9,...,1.9,0.662,1.0,2.8,2.3,1.7,0.9,1.0,7.1,James Johnson
2675,203476,2018-19,76.0,29.0,13.6,2.5,5.0,0.501,0.3,0.7,...,1.4,0.830,1.1,3.0,0.9,0.8,0.6,0.5,6.4,Gorgui Dieng

In [70]:
merged_df2 = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on='player_id')
merged_df2.sample(10)

      player_id      player_name season_id  ast  stl   pts
2564     203490  Otto Porter Jr.   2014-15  0.9  0.6   6.0
1733     101181    Jose Calderon   2018-19  2.3  0.3   2.3
2922       2756    Sasha Vujacic   2015-16  1.4  0.6   4.9
2909    1626257      Salah Mejri   2018-19  1.0  0.3   3.9
1863     201567       Kevin Love   2008-09  1.0  0.4  11.1
1783     203200   Justin Holiday   2016-17  1.2  0.8   7.7
2956     203894   Shabazz Napier   2016-17  1.3  0.6   4.1
1080     201588      George Hill   2009-10  2.9  0.9  12.4
2152       1938    Manu Ginobili   2008-09  3.6  1.5  15.5
2705     201196   Ramon Sessions   2007-08  7.5  1.0   8.1

In [71]:
merged_df3 = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on='player_id', how='inner')
merged_df3.sample(10)

      player_id      player_name season_id  ast  stl   pts
2127       2736        Luol Deng   2015-16  1.9  1.0  12.3
385      201575     Brandon Rush   2008-09  0.9  0.5   8.1
1385       2592      James Jones   2004-05  0.8  0.4   4.9
1685     203903  Jordan Clarkson   2014-15  3.5  0.9  11.9
1052    1627832    Fred VanVleet   2016-17  0.9  0.4   2.9
961        2548      Dwyane Wade   2018-19  4.2  0.8  15.0
1819    1626162  Kelly Oubre Jr.   2016-17  0.6  0.7   6.3
2066       2571  Leandro Barbosa   2014-15  1.5  0.6   7.1
825      201565     Derrick Rose   2008-09  6.3  0.8  16.8
1241    1627826      Ivica Zubac   2016-17  0.8  0.4   7.5

In [72]:
raw_data = {
    'player_id': ['1', '2', '3', '4', '5', '6', '7'],
    'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'],
    'last_name': ['James', 'Nowitzki', 'Carter', 'Kanter', 'Van Fleet', 'Rose', 'George']
}

In [73]:
df_a = pd.DataFrame(raw_data, columns = ['player_id', 'first_name', 'last_name'])

In [74]:
raw_data = {
    'player_id': ['1', '2', '3', '4', '5'],
    'career_ppg':[27.2, 20.7, 17.2, 11.9, 18.8]
}

In [76]:
df_b = pd.DataFrame(raw_data, columns = ['player_id', 'career_ppg'])

In [77]:
#Keeps everything in the left df (df_a) and attempt to match is df_b
left_merge = pd.merge(df_a, df_b, on='player_id', how='left')

In [78]:
left_merge

  player_id first_name  last_name  career_ppg
0         1     Lebron      James        27.2
1         2       Dirk   Nowitzki        20.7
2         3      Vince     Carter        17.2
3         4       Enes     Kanter        11.9
4         5       Fred  Van Fleet        18.8
5         6    Derrick       Rose         NaN
6         7       Paul     George         NaN

In [79]:
right_merge = pd.merge(df_a, df_b, on='player_id', how='right')
right_merge

  player_id first_name  last_name  career_ppg
0         1     Lebron      James        27.2
1         2       Dirk   Nowitzki        20.7
2         3      Vince     Carter        17.2
3         4       Enes     Kanter        11.9
4         5       Fred  Van Fleet        18.8

In [80]:
#outer join = takes both rows and matches data when possible
outer_merge = pd.merge(df_a, df_b, on='player_id', how='outer')
outer_merge

  player_id first_name  last_name  career_ppg
0         1     Lebron      James        27.2
1         2       Dirk   Nowitzki        20.7
2         3      Vince     Carter        17.2
3         4       Enes     Kanter        11.9
4         5       Fred  Van Fleet        18.8
5         6    Derrick       Rose         NaN
6         7       Paul     George         NaN

In [81]:
#if columns don't match

In [99]:
raw_data = {
    'id': ['1', '2', '3', '4', '5', '6', '7'],
    'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'],
    'last_name': ['James', 'Nowitzki', 'Carter', 'Kanter', 'Van Fleet', 'Rose', 'George']
}

In [100]:
df_1 = pd.DataFrame(raw_data, columns = ['id', 'first_name', 'last_name'])

In [101]:
raw_data = {
    'player_id': ['1', '2', '3', '4', '5'],
    'career_ppg':[27.2, 20.7, 17.2, 11.9, 18.8]
}

In [102]:
df_2 = pd.DataFrame(raw_data, columns = ['player_id', 'career_ppg'])

In [104]:
df3 = pd.merge(df_1, df_2, how='right', left_on='id', right_on='player_id')

In [105]:
df3

  id first_name  last_name player_id  career_ppg
0  1     Lebron      James         1        27.2
1  2       Dirk   Nowitzki         2        20.7
2  3      Vince     Carter         3        17.2
3  4       Enes     Kanter         4        11.9
4  5       Fred  Van Fleet         5        18.8

In [106]:
df4 = pd.merge(df_1, df_2, how='right', left_on='id', right_on='player_id').drop('id', axis=1)

In [107]:
df4

  first_name  last_name player_id  career_ppg
0     Lebron      James         1        27.2
1       Dirk   Nowitzki         2        20.7
2      Vince     Carter         3        17.2
3       Enes     Kanter         4        11.9
4       Fred  Van Fleet         5        18.8

In [108]:
df_1.merge(df_2, how = 'inner', left_on='id', right_on='player_id').drop('player_id', axis=1)

  id first_name  last_name  career_ppg
0  1     Lebron      James        27.2
1  2       Dirk   Nowitzki        20.7
2  3      Vince     Carter        17.2
3  4       Enes     Kanter        11.9
4  5       Fred  Van Fleet        18.8

# Iterating over a Dataframe

In [109]:
import pandas as pd
import numpy as np

In [117]:
nba_stats = {
    'first_name':['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh', 'Lance', 'Michael', 'Tyson', 'Ivica'],
    'last_name':['James', 'Kuzma', 'Ball', 'Ingram', 'Hart', 'Stephenson', 'Beasley', 'Chandler', 'Zuba'],
    'ppg':[28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7,],
    'apg':[12.3, 2.1, 8.9, 2.5, 3.6, 0.2, 1.8, 1.9, 1.5],
    'rpg':[7.1, 5.4, 5.5, 8.1, 3.2, 5.5, 7.7, 2.3, 8.1]
}
laker_df = pd.DataFrame(nba_stats, columns = ['first_name', 'last_name', 'ppg', 'apg', 'rpg'])

In [118]:
for row in laker_df.iterrows():
    print(row)

(0, first_name    Lebron
last_name      James
ppg             28.2
apg             12.3
rpg              7.1
Name: 0, dtype: object)
(1, first_name     Kyle
last_name     Kuzma
ppg            21.1
apg             2.1
rpg             5.4
Name: 1, dtype: object)
(2, first_name    Lonzo
last_name      Ball
ppg            14.3
apg             8.9
rpg             5.5
Name: 2, dtype: object)
(3, first_name    Brandon
last_name      Ingram
ppg              17.2
apg               2.5
rpg               8.1
Name: 3, dtype: object)
(4, first_name    Josh
last_name     Hart
ppg           18.2
apg            3.6
rpg            3.2
Name: 4, dtype: object)
(5, first_name         Lance
last_name     Stephenson
ppg                 11.2
apg                  0.2
rpg                  5.5
Name: 5, dtype: object)
(6, first_name    Michael
last_name     Beasley
ppg              14.2
apg               1.8
rpg               7.7
Name: 6, dtype: object)
(7, first_name       Tyson
last_name     Chandler
ppg                4.5
apg                1.9
rpg                2.3
Name: 7, dtype: object)
(8, first_name    Ivica
last_name      Zuba
ppg             6.7
apg             1.5
rpg             8.1
Name: 8, dtype: object)

In [119]:
for index, row in laker_df.iterrows():
    print(row['first_name'], row['last_name'], row['ppg'])

Lebron James 28.2
Kyle Kuzma 21.1
Lonzo Ball 14.3
Brandon Ingram 17.2
Josh Hart 18.2
Lance Stephenson 11.2
Michael Beasley 14.2
Tyson Chandler 4.5
Ivica Zuba 6.7

In [120]:
#Preferred method and will use in projection model. row data not stored in series
for row in laker_df.itertuples():
    print(row.first_name, row.last_name, row.ppg)

Lebron James 28.2
Kyle Kuzma 21.1
Lonzo Ball 14.3
Brandon Ingram 17.2
Josh Hart 18.2
Lance Stephenson 11.2
Michael Beasley 14.2
Tyson Chandler 4.5
Ivica Zuba 6.7

In [125]:
#Blank list then populating blank list iterating over rows
ppg_data=[]

In [126]:
for row in laker_df.itertuples():
    ppg_data.append(row.ppg)

In [127]:
ppg_data

[28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7]

# Applying Function to Dataframes

In [128]:
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_stats_total.csv')

In [129]:
df.sample(5)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
1468,Brandon Jennings,201943,2009-10,82.0,20.0,2670.800,451.0,1216.0,145.0,223.0,273.0,49.0,233.0,470.0,200.0,105.0,18.0,1270.0
699,Channing Frye,101112,2008-09,63.0,26.0,745.160,113.0,267.0,11.0,26.0,36.0,41.0,99.0,24.0,29.0,17.0,16.0,263.0
2278,Dennis Schroder,203471,2014-15,77.0,21.0,1516.040,284.0,665.0,52.0,148.0,179.0,29.0,135.0,317.0,150.0,49.0,4.0,768.0
1984,Klay Thompson,202691,2015-16,80.0,26.0,2666.080,651.0,1386.0,276.0,193.0,221.0,35.0,271.0,166.0,138.0,60.0,49.0,1771.0
2651,Willie Reed,203186,2015-16,39.0,26.0,425.617,76.0,133.0,0.0,30.0,55.0,49.0,73.0,10.0,16.0,6.0,30.0,182.0

In [130]:
#takes current age adds 1 then apply back to age column
def add_year(current_age):
    new_age = current_age + 1
    return new_age

In [132]:
df['age'].apply(add_year)

0       22.0
1       23.0
2       24.0
3       25.0
4       26.0
        ...
2736    22.0
2737    22.0
2738    23.0
2739    23.0
2740    24.0
Name: age, Length: 2741, dtype: float64

In [133]:
player_stats = {
    'player_name': ['Lebron', 'Dirk', 'Wade', 'Curry', 'George'],
    'season_id': ['2017-18', '2017-18', '2017-18', '2017-18', '2017-18'],
    'total_points': [2251, 927, 765, 1346, 1734],
    'games_played':[82, 77, 81, 51, 79]
}
df= pd.DataFrame(player_stats)

In [135]:
df.head()

  player_name season_id  total_points  games_played
0      Lebron   2017-18          2251            82
1        Dirk   2017-18           927            77
2        Wade   2017-18           765            81
3       Curry   2017-18          1346            51
4      George   2017-18          1734            79

In [136]:
#making a ppg column
def ppg_calculator(row):
    gp = row[3]
    pts = row[2]
    ppg = pts/gp
    return ppg

In [137]:
df.apply(ppg_calculator, axis = 1)

0    27.451220
1    12.038961
2     9.444444
3    26.392157
4    21.949367
dtype: float64

In [138]:
df['ppg'] = df.apply(ppg_calculator, axis = 1)

In [140]:
df.head()

  player_name season_id  total_points  games_played        ppg
0      Lebron   2017-18          2251            82  27.451220
1        Dirk   2017-18           927            77  12.038961
2        Wade   2017-18           765            81   9.444444
3       Curry   2017-18          1346            51  26.392157
4      George   2017-18          1734            79  21.949367

In [141]:
#using column names instead of column position to do same thing
df = pd.read_csv('D:/Python Portfolio Projects/NBA Projection/nba-stats-model-master/nba-stats-csv/player_stats_total.csv')

In [155]:
# round(ft_prec,1); round ft_perc to 1 decimal place. using + .00001 to make sure dont divide by 0

def ft_calculator(row):
    ft_perc = row['ftm']/(row['fta'] + .00001)
    return round(ft_perc,2)

In [156]:
df['ft_perc'] = df.apply(ft_calculator, axis=1)

In [157]:
df.sample(5)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ft_perc
2677,Deyonta Davis,1627738,2016-17,36.0,20.0,238.05,24.0,47.0,0.0,10.0,18.0,20.0,40.0,2.0,8.0,3.0,17.0,58.0,0.56
106,Jamal Crawford,2037,2014-15,64.0,35.0,1703.21,332.0,839.0,119.0,227.0,252.0,18.0,106.0,158.0,92.0,59.0,14.0,1010.0,0.90
38,Vince Carter,1713,1998-99,50.0,22.0,1760.95,345.0,766.0,19.0,204.0,268.0,94.0,189.0,149.0,110.0,55.0,77.0,913.0,0.76
512,Devin Harris,2734,2015-16,64.0,33.0,1280.45,167.0,374.0,52.0,101.0,140.0,18.0,120.0,118.0,66.0,60.0,13.0,487.0,0.72
1336,Goran Dragic,201609,2010-11,70.0,25.0,1233.94,192.0,441.0,56.0,83.0,133.0,36.0,106.0,204.0,117.0,50.0,10.0,523.0,0.62

In [158]:
#Career FT %... 1)group by player id/name 2)sum 3)apply ft_calc function
career = df.groupby('player_name').sum().apply(ft_calculator, axis=1)

In [159]:
career.sort_values(ascending=False)

player_name
Chinanu Onuaku          1.0
Nicolas Laprovittola    1.0
Michael Gbinije         1.0
Diamond Stone           1.0
Georges Niang           1.0
                       ...
Ben Bentil              0.0
Josh Huestis            0.0
Mike Tobey              0.0
Patricio Garino         0.0
Tim Quarterman          0.0
Length: 486, dtype: float64

# Arrays - like a list but more memory efficient

In [160]:
#creating kawhi's steal stats of the last 5 games
kawhi_steals = [4, 5, 2, 1, 3]

In [161]:
klaw = np.array(kawhi_steals)

In [162]:
klaw

array([4, 5, 2, 1, 3])

In [163]:
klaw.mean()

3.0

In [164]:
klaw_2 = klaw + 2

In [165]:
klaw_2

array([6, 7, 4, 3, 5])

In [166]:
klaw_2.mean()

5.0